@use "../../presets/index" as *;

.point {
  padding-bottom: vw(93);

  @include lg {
    padding-bottom: vm(27);
  }

  &__title {
    max-width: vw(650);
    color: $color-red;
    padding-bottom: vw(56);
    margin-left: vw(570);

    @include lg {
      max-width: 80%;
      text-align: center;
      margin-right: vm(10);
      margin-left: vm(10);
      margin-bottom: vm(100);
    }
  }

  &-info {
    padding: vw(40);
    margin-left: vw(530);

    @include lg {
      display: flex;
      flex-direction: column;
      max-width: vm(355);
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &-wrapper {
    background: $background-light;
    border-radius: vw(30);
    display: flex;
    gap: vw(20);
    position: relative;

    @include lg {
      width: 100%;
      height: auto;
      flex-direction: column;
      gap: vp(20);
      border-radius: vp(20);
      padding-bottom: vp(80);
    }
    @include sm {
      border-radius: vm(20);
      padding-bottom: vm(50);
      gap: vm(20);
    }
  }

  &-img {
    width: vw(430);
    height: vw(375);
    top: vw(-175);
    left: vw(20);
    position: absolute;
    @include lg {
      width: vm(204);
      top: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &-text {
    display: flex;
    gap: vw(30);

    @include lg {
      flex-direction: column;
      width: 100%;
      gap: vp(30);
      padding-top: vp(290);
      padding-bottom: vp(48);
    }
    @include sm {
      gap: vm(25);
      padding-top: vm(119);
      padding-bottom: vm(48);
    }

    &__wrapper {
      display: flex;
      gap: vw(20);

      @include lg {
        gap: vp(15);
      }
      @include sm {
        gap: vm(10);
      }
    }

    &__num {
      border: vw(1) solid rgba(48, 162, 60, 0.2);
      width: vw(82);
      height: vw(82);
      font-weight: $font-weight-accent;
      line-height: 150%;
      color: $color-green;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include lg {
        width: vp(54);
        height: vp(54);
      }
      @include sm {
        width: vm(54);
        height: vm(54);
      }
    }

    &__description {
      max-width: vw(250);
      color: $color-h-txt-link;
      padding-top: vw(20);

      @include lg {
        max-width: 80%;
        text-align: start;
        padding-bottom: 0;
        padding-left: vp(20);
      }
      @include sm {
        padding-left: vm(20);
      }
    }
  }

  &-btns {
    padding-top: vw(38);
    display: flex;
    gap: vw(30);
    align-items: center;

    @include lg {
      flex-direction: column;
      gap: vp(20);
    }
    @include sm {
      gap: vm(20);
    }

    &__btn {
      color: $color-white;
      background-color: $color-green;
      border-radius: vw(100);
      border: vw(1) solid $color-green;
      transition: 0.2s;


      @include lg {
        border-radius: vp(100);
        border: vp(1) solid $color-green;
      }
      @include sm {
        border-radius: vm(100);
        border: vm(1) solid $color-green;
      }

      &:hover {
        background-color: lighten($color-green, 30%);
        border: vw(1) solid $color-green;
        color: $color-green;
      }
    }

    &__link {
      font-weight: $font-weight-accent;
    }
  }
}