@use "../presets/index" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: vw(20);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: $color-h-txt-link;
  overflow-x: hidden;

  @include lg {
    font-size: vm(13);
  }

  @include md {
    font-size: vm(16);
  }

  @include sm {
    font-size: vm(16);
  }
}

.text-accent {
  font-size: vw(23);
  font-weight: $font-weight-accent;
  line-height: 1.06;

  @include lg {
    font-size: vm(14);
  }
  @include md {
    font-size: vm(16);
  }
  @include sm {
    font-size: vm(16);
  }
}

.text-little {
  font-size: vw(16);
  line-height: 1.08;

  @include lg {
    font-size: vm(9);
  }
  @include md {
    font-size: vm(12);
  }
  @include sm {
    font-size: vm(12);
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.05;

  @include lg {
    font-size: vm(26);
  }
  @include md {
    font-size: vm(32);
  }
  @include sm {
    font-size: vm(32);
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.05;

  @include lg {
    font-size: vm(18);
  }
  @include md {
    font-size: vm(24);
  }
  @include sm {
    font-size: vm(24);
  }
}


.container {
  max-width: vw(1728);
  margin-inline: auto;

  @include lg {
    display: flex;
    max-width: vp(992);
    //width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 15px;
    margin-left: 15px;
  }

  @include sm {
    display: flex;
    max-width: vm(375);
    //width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.container-1360 {
  max-width: vw(1360);
  margin-inline: auto;

  @include lg {
    display: flex;
    max-width: vp(992);
    //width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 15px;
    margin-left: 15px;
  }

  @include sm {
    display: flex;
    max-width: vm(375);
    //width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.container-1540 {
  max-width: vw(1540);
  margin-inline: auto;

  @include lg {
    display: flex;
    max-width: vp(992);
    //width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 15px;
    margin-left: 15px;
  }
  @include sm {
    display: flex;
    max-width: vm(375);
    //width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

a, button, img {
  text-decoration: none;
  display: block;
  color: $color-h-txt-link;
}

a, button {
  cursor: pointer;
}

.a-link {
  text-decoration: underline;
  text-underline-offset: 7px;

  //&::after {
  //  position: absolute;
  //  content: "";
  //  left: 0;
  //  bottom: 0;
  //  width: 100%;
  //  border-bottom: vw(2) solid $color-h-txt-link;
  //}

  &:hover {
    transition: 0.2s all;
    color: $color-red;

    &::after {
      transition: 0.2s all;
      border-bottom: vw(2) solid $color-red-border;
    }
  }
}

ul, ol, li {
  text-decoration: none;
  list-style: none;
}

.btn {
  cursor: pointer;
  transition: 0.2s all;
  background: $color-red;
  border-radius: vw(100);
  border: vw(1) solid $color-white;
  color: $color-white;
  text-transform: uppercase;
  font-size: vw(20);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  padding: vw(30) vw(50);

  @include lg {
    font-size: vm(12);
    padding: vm(21) vm(55);
  }

  @include md {
    font-size: vm(16);
    padding: vm(21) vm(55);
  }

  @include sm {
    font-size: vm(16);
    padding: vm(21) vm(55);
  }

  &:hover {
    background: $color-red-border;
    color: $color-red;
    border: vw(1) solid $color-red;
    border-radius: vw(100);
  }
}

.btn-light {
  cursor: pointer;
  transition: 0.2s all;
  background: none;
  border-radius: vw(100);
  border: 1px solid $color-red-border;
  color: $color-red;
  text-transform: none;
  font-size: vw(23);
  font-weight: 400;
  line-height: 1.04;
  padding: vw(20) vw(31) vw(19) vw(57);

  @include lg {
    font-size: vm(12);
    padding: vm(15) vm(20);
  }
  @include md {
    font-size: vm(16);
    padding: vm(15) vm(20);
  }
  @include sm {
    font-size: vm(16);
    padding: vm(15) vm(20);
  }

  &:hover {
    background: $color-red-border;
    border-radius: vw(100);
    border: vw(1) solid $color-red-border;
  }
}

.order-1 {
  order: 1;
  @include lg {
    order: 2;
  }
}

.order-2 {
  order: 2;
  @include lg {
    order: 3;
  }
}

.order-3 {
  order: 3;
  @include lg {
    order: 4;
  }
}

.order-4 {
  order: 4;
  @include lg {
    order: 1;
  }
}

/* Для веб-китовых браузеров, таких как Chrome, Safari и новых версий Opera */
::-webkit-scrollbar {
  width: 5px; /* Задаем ширину вертикального скролл-бара */
  height: 5px; /* Задаем высоту горизонтального скролл-бара */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Задаем цвет ползунка скролл-бара */
  border-radius: 2px; /* Задаем скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Задаем цвет ползунка при наведении курсора */
}

/* Для Firefox */
* {
  scrollbar-width: thin; /* Задаем тонкий скролл-бар */
  scrollbar-color: #888 #f0f0f0; /* Задаем цвет ползунка и цвет фона скролл-бара */
}


