@use "../presets/index" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: vw(20);
}

.container {
  max-width: vw(1728);
  margin-inline: auto;
}

a, button, img {
  text-decoration: none;
  display: block;
}

ul, ol, li {
  text-decoration: none;
  list-style: none;
}

.btn {
  cursor: pointer;
  background: $color-red;
  border-radius: vw(100);
  color: $color-white;
  font-weight: 700;
  font-size: vw(20);
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  padding: vw(30) vw(50);
}

