@use "../presets/index" as *;

//.animate__animated.animate__delay-6s {
//  -webkit-animation-delay: 6s;
//  animation-delay: 6s;
//  -webkit-animation-delay: var(--animate-delay);
//  animation-delay: var(--animate-delay);
//}

:root {
  //--animate-duration: 4s;
  //--animate-delay: 2s;
  //.fancybox-custom .fancybox-inner {
  //  background-color: $background-blue;
  //}
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: vw(20);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: $color-h-txt-link;
  overflow-x: hidden;

  @include lg {
    font-size: vp(20);
  }

  @include sm {
    font-size: vm(16);
  }
}

p {
  font-family: 'Inter', sans-serif;
  font-size: vw(20);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: $color-h-txt-link;

  @include lg {
    font-size: vp(20);
  }

  @include sm {
    font-size: vm(16);
  }
}

.body-scroll-lock {
  overflow: hidden;
}

input {
  font-family: 'Inter', sans-serif;
  font-size: vw(20);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: $color-h-txt-link;
  overflow-x: hidden;

  @include lg {
    font-size: vp(20);
  }

  @include sm {
    font-size: vm(16);
  }
}

.text-accent {
  font-size: vw(23);
  font-weight: $font-weight-accent;
  line-height: 1.06;

  @include lg {
    font-size: vp(23);
  }

  @include sm {
    font-size: vm(16);
  }
}

.text-little {
  font-size: vw(16);
  line-height: 1.08;

  @include lg {
    font-size: vp(16);
  }

  @include sm {
    font-size: vm(12);
  }
}

h1 {
  font-size: vw(55);
  font-weight: 700;
  line-height: 1.05;

  @include lg {
    font-size: vp(55);
  }

  @include sm {
    font-size: vm(35);
  }
}

h2 {
  font-size: vw(40);
  font-weight: 700;
  line-height: 1.05;

  @include lg {
    font-size: vp(35);
  }

  @include sm {
    font-size: vm(27);
  }
}

h3 {
  font-size: vw(32);
  font-weight: 700;
  line-height: 1.05;

  @include lg {
    font-size: vp(32);
  }

  @include sm {
    font-size: vm(24);
  }
}


.container {
  max-width: vw(1728);
  margin-inline: auto;

  @include lg {
    display: flex;
    max-width: vp(992);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 15px;
    margin-left: 15px;
  }

  @include sm {
    display: flex;
    max-width: vm(375);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.container-1360 {
  max-width: vw(1360);
  margin-inline: auto;

  @include lg {
    display: flex;
    max-width: vp(992);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 15px;
    margin-left: 15px;
  }

  @include sm {
    display: flex;
    max-width: vm(375);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.container-1540 {
  max-width: vw(1540);
  margin-inline: auto;

  @include lg {
    display: flex;
    max-width: vp(992);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: vm(15);
    margin-left: vm(15);
  }
  @include sm {
    display: flex;
    max-width: vm(375);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding-right: 10px;
    //padding-left: 10px;
    margin-right: vm(10);
    margin-left: vm(10);
  }
}

a, button, img {
  text-decoration: none;
  display: block;
  color: $color-h-txt-link;
}

a, button {
  cursor: pointer;
}

.a-link {
  text-decoration: underline;
  text-underline-offset: vw(7);

  @include lg {
    text-underline-offset: vp(7);
  }
  @include sm {
    text-underline-offset: vm(3);
  }

  //&::after {
  //  position: absolute;
  //  content: "";
  //  left: 0;
  //  bottom: 0;
  //  width: 100%;
  //  border-bottom: vw(2) solid $color-h-txt-link;
  //}

  &:hover {
    transition: 0.2s all;
    color: $color-red;

    &::after {
      transition: 0.2s all;
      border-bottom: vw(2) solid $color-red-border;
    }
  }
}

ul, ol, li {
  text-decoration: none;
  list-style: none;
}

.btn {
  position: relative;
  cursor: pointer;
  background: $color-red;
  border-radius: vw(100);
  border: vw(1) solid $color-red;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: vw(20);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  padding: vw(30) vw(50);
  overflow: hidden;
  transition: all 0.4s ease;
  //transition: 0.2s all;

  @include lg {
    font-size: vp(20);
    padding: vp(30) vp(50);
    border-radius: vp(100);
  }

  @include sm {
    font-size: vm(16);
    padding: vm(21) vm(55);
    border-radius: vm(100);
  }

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 20%;
    background-color: $color-white;
    translate: -100% 0;
    rotate: 45deg;
    transition: all 0.4s ease;
  }

  &:hover {
    color: $color-red;
    background: $color-red-border;
    border: vw(1) solid $color-red;
    border-radius: vw(100);
    //box-shadow: 0 0 vw(24) vw(8) rgba(255, 187, 187, 0.4);

    @include lg {
      border: vp(1) solid $color-red;
      border-radius: vp(100);
      //box-shadow: 0 0 vp(24) vp(8) rgba(255, 187, 187, 0.4);
    }

    @include sm {
      border: vm(1) solid $color-red;
      border-radius: vm(100);
      //box-shadow: 0 0 vm(12) vm(4) rgba(255, 187, 187, 0.4);
    }

    &::before {
      translate: 100%;
    }
  }

  &:active {
    scale: 0.95;
    //box-shadow: 0 0 vw(16) vw(4) rgba(148, 156, 190, 0.6);
    @include lg {
      //box-shadow: 0 0 vp(16) vp(4) rgba(148, 156, 190, 0.6);
    }
    @include sm {
      //box-shadow: 0 0 vm(8) vm(4) rgba(148, 156, 190, 0.6);
    }
  }
}

.btn-light {
  cursor: pointer;
  transition: 0.2s all;
  background: none;
  border-radius: vw(100);
  border: 1px solid $color-red-border;
  color: $color-red;
  text-transform: none;
  font-size: vw(23);
  font-weight: 400;
  line-height: 1.04;
  padding: vw(20) vw(31) vw(19) vw(57);

  @include lg {
    font-size: vp(23);
    padding: vp(20) vp(31) vp(19) vp(57);
    border-radius: vp(100);
  }

  @include sm {
    font-size: vm(16);
    padding: vm(15) vm(20);
    border-radius: vm(100);
  }

  &::before {

  }

  &:hover {
    background: $color-red-border;
    border-radius: vw(100);
    border: vw(1) solid $color-red-border;

    @include lg {
      border: vp(1) solid $color-red;
      border-radius: vp(100);
    }

    @include sm {
      border: vm(1) solid $color-red;
      border-radius: vm(100);
    }
  }
}

/* Для веб-китовых браузеров, таких как Chrome, Safari и новых версий Opera */
::-webkit-scrollbar {
  width: 5px; /* Задаем ширину вертикального скролл-бара */
  height: 5px; /* Задаем высоту горизонтального скролл-бара */
}

::-webkit-scrollbar-thumb {
  background-color: $color-grey-increase; /* Задаем цвет ползунка скролл-бара */
  border-radius: 2px; /* Задаем скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-opacity; /* Задаем цвет ползунка при наведении курсора */
}

/* Для Firefox */
* {
  scrollbar-width: thin; /* Задаем тонкий скролл-бар */
  scrollbar-color: $color-grey-increase $color-grey-border; /* Задаем цвет ползунка и цвет фона скролл-бара */
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-white, 0.8);
  z-index: 300;
  display: none;
}

.blur-visible {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

label[class="checkbox-label"] {
  display: flex;
  align-items: start;
  position: relative;
  padding-left: vw(29);
  @include lg {
    padding-left: vp(29);
  }
  @include sm {
    padding-left: vm(29);
  }
}

label[class="checkbox-label"]::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: vw(22);
  height: vw(22);
  border-radius: vw(6);
  border: vw(1) solid #D4D8EB;
  background: #fff;
  vertical-align: middle;
  margin-right: vw(7);
  transition: 0.2s;
  @include lg {
    width: vp(22);
    height: vp(22);
    border: vp(1) solid #D4D8EB;
    border-radius: vp(6);
    margin-right: vp(7);
  }
  @include sm {
    width: vm(22);
    height: vm(22);
    border: vm(1) solid #D4D8EB;
    border-radius: vm(6);
    margin-right: vm(7);
  }
}

input[type="checkbox"]:checked + label::before {
  background-color: $color-blue;
}

input:required:invalid {
  border-color: red;
}

@keyframes shake {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0;
  }
}

.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}

.video {
  display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.8);

  iframe {
    width: vw(1000);
    height: vw(700);
    @include lg {
      width: vp(900);
      height: vp(600);
    }
    @include sm {
      width: vm(320);
      height: vm(250);
    }
  }
}

.video-close {
  width: vw(32);
  height: vw(32);
  position: fixed;
  top: vw(50);
  right: vw(50);
  @include lg {
    width: vp(30);
    top: vp(32);
    right: vp(32);
  }
  @include sm {
    width: vm(20);
    top: vm(30);
    right: vm(30);

  }

  svg {
    width: 100%;
    transition: 0.1s;
    &:hover {
      path {
        fill: white;
      }
    }
  }
}

.video-visible {
  display: flex;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  //top: 0;
  //left: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  overflow: hidden;
  pointer-events: none;

}