@use "../../presets/index" as *;

.benefits {
  //padding-top: vw(139);
  padding-bottom: vw(139);

  @include lg {
    position: relative;
    //padding-top: 27px;
    padding-bottom: vm(262);
  }

  &-content {
    position: relative;
    background-color: $background-light;
    border-radius: vw(30);
    height: vw(652);
    display: flex;
    align-items: center;

    @include lg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      padding: 33px 10px 25.38px 10px;
    }

    &__img {
      order: 1;
      width: vw(435);
      margin-left: vw(32);
      margin-right: vw(127);

      @include lg {
        order: 4;
        margin: 0;
        width: 80%;
        padding-bottom: vm(84);
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &__logo-wrap {
      display: none;
      order: 2;
      width: vw(306);

      @include lg {
        order: 1;
        display: block;
        width: vm(223);
        padding-bottom: vm(26.22);
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &__text {
      order: 3;
      width: vw(702);

      @include lg {
        order: 3;
        width: auto;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
      }

      .for-img {
        width: vw(306);
        padding-bottom: vw(42);

        @include lg {
          display: none;
        }

        img {
          display: block;
          width: 100%;
        }
      }

      .text-accent {
        line-height: 1.5;
      }

      p {
        padding-bottom: vw(28);
        line-height: 1.3;

        @include lg {
          padding-bottom: vm(13);
        }
      }

      a {
        font-weight: $font-weight-accent;

        @include lg {
          padding-top: vm(7);
          padding-bottom: vm(20);
        }
      }
    }

    &__btn {
      order: 4;
      position: absolute;
      top: vw(56);
      right: vw(82);
      display: flex;

      @include lg {
        order: 2;
        position: initial;
        justify-content: center;
        padding-bottom: vm(25);
      }

      .btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include lg {
          padding: vm(16) vm(17) vm(15) vm(38);
        }

        &::before {
          position: absolute;
          content: "";
          display: inline-block;
          height: vw(16);
          width: vw(12);
          left: vw(29);
          background: url("../../assets/images/arrow_red.png") no-repeat;
          background-size: cover;

          @include lg {
            height: vm(10);
            width: vm(8);
            left: vm(25);
          }
        }
      }
    }
  }

  &-carts {
    max-width: vw(1431);
    margin: auto;
    height: vw(144);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.06;

    @include lg {
      position: absolute;
      bottom: vm(295);
      max-width: vp(992);
      margin: 0;
      box-sizing: border-box;
    }

    &__item {
      z-index: 1;
      width: vw(337);
      background: $color-white;
      border: 1px solid $color-grey-border-light;
      border-radius: vw(30);

      padding-right: vw(13);
      margin-top: vw(-150);
      display: flex;
      align-items: center;
      justify-content: end;
      box-sizing: border-box;

      @include lg {
        width: vm(173);
        justify-content: center;
        flex-direction: column;
        padding-bottom: vm(10);
        padding-right: vm(9);
        margin: auto;
        margin-bottom: vm(10);
      }

      p {
        position: relative;
        display: flex;
        width: vw(200);
        height: vw(75);
        align-items: center;
        margin: vw(35) vw(13) vw(34) vw(25);

        @include lg {
          width: vm(138);
          height: vm(55);
          align-items: start;
          margin: vm(54) vm(10) vm(18) vm(14);
          flex-direction: column;
          padding-top: vm(10);
        }

        &::before {
          position: absolute;
          content: "";
          display: inline-block;
          height: vw(65.31);
          width: vw(65.31);
          left: vw(-85);
          background: url("../../assets/images/01_benefits.svg") no-repeat;
          background-size: contain;
          padding-right: vw(25);

          @include lg {
            top: vm(-30);
            left: 0;
            height: vm(37.86);
            width: vm(24.77);
            padding-right: 0;
            overflow: hidden;
          }
        }
      }

      .item2::before {
        background: url("../../assets/images/02_benefits.svg") no-repeat;
        background-size: contain;
        height: vw(70.86);
        width: vw(46.36);
        left: vw(-65);

        @include lg {
          top: vm(-30);
          left: 0;
          height: vm(28);
          width: vm(28);
        }
      }

      .item3::before {
        background: url("../../assets/images/03_benefits.svg") no-repeat;
        background-size: contain;
        height: vw(64.7);
        width: vw(65.93);

        @include lg {
          top: vm(-30);
          left: 0;
          height: vm(31.4);
          width: vm(32);
        }
      }

      .item4::before {
        background: url("../../assets/images/04_benefits.svg") no-repeat;
        background-size: contain;
        height: vw(42.25);
        width: vw(78.87);
        //left: vw(-100);

        @include lg {
          top: vm(-30);
          left: 0;
          height: vm(26);
          width: vm(48.53);
        }
      }
    }
  }
}