@use "../../presets/index" as *;

.delivery {
  padding-top: vw(232);
  padding-bottom: vw(207);
  @include lg {
    padding-top: vp(200);
    padding-bottom: vp(100);
  }
  @include sm {
    padding-top: vm(100);
    padding-bottom: vm(50);
  }

  .container-1108 {
    width: 100%;
    max-width: vw(1108);
    margin: 0 auto;
    @include lg {
      max-width: vp(950);
    }
    @include sm {
      max-width: vm(350);
    }
  }

  .p-l-56 {
    padding-left: vw(56);
    @include lg {
      padding-left: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .d-flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include lg {
      justify-content: center;
    }
  }

  h2 {
    font-size: vw(36);
    @include lg {
      font-size: vp(36);
    }
    @include sm {
      font-size: vm(26);
    }
  }

  &-content {
    width: 100%;
    max-width: vw(723);
    padding-bottom: vw(64);
    @include lg {
      width: 100%;
      max-width: inherit;
      margin: 0;
      text-align: center;
      padding-bottom: vp(64);
    }
    @include sm {
      padding-bottom: vm(30);
    }

    &__title {
      padding-bottom: vw(36);
      @include lg {
        padding-bottom: vp(36);
      }
      @include sm {
        padding-bottom: vm(16);
      }
    }
  }

  &-info__header {
    padding-bottom: vw(53);
    @include lg {
      text-align: center;
      padding-bottom: vp(53);
    }
    @include sm {
      padding-bottom: vm(25);
    }
  }

  &-pay__header {
    padding-bottom: vw(28);
    @include lg {
      text-align: center;
      padding-bottom: vp(28);
    }
    @include sm {
      padding-bottom: vm(12);
    }
  }
}

.delivery-info__content,
.delivery-pay__content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: vw(62);
  @include lg {
    padding-bottom: vp(62);
  }
  @include sm {
    padding-bottom: vm(28);
  }

  &-1,
  &-2,
  &-3 {
    flex: 1 1 50%;
    width: vw(320);

    @include lg {
      flex-basis: 100%;
      width: vp(450);
      text-align: center;
      padding-bottom: vp(43);
    }
    @include sm {
      width: vm(350);
      padding-bottom: vm(20);
    }
  }

  &-3 {
    padding-top: vw(43);
    @include lg {
      padding-top: 0;
    }
  }

  &-title,
  span {
    font-weight: bold;
  }

  svg {
    display: inline-block;
    padding-bottom: vw(15);
    @include lg {
      padding-bottom: vp(15);
    }
    @include sm {
      padding-bottom: vw(7);
    }
  }
}

.delivery-tg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $background-light;
  border-radius: vw(30);
  padding: vw(48) vw(59) vw(48) vw(56);
  margin-bottom: vw(78);
  @include lg {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: vp(30);
    padding: vp(20) vp(25);
    margin-bottom: vp(78);
  }
  @include sm {
    border-radius: vm(10);
    padding: vm(15) vm(10);
    margin-bottom: vm(35);
  }

  &__content {
    order: 2;
    padding-left: vw(45);
    padding-right: vw(115);
    @include lg {
      order: 1;
      flex-basis: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: vp(20);
    }
    @include sm {
      padding-bottom: vm(15);
    }

    h3 {
      padding-bottom: vw(14);
      @include lg {

      }
      @include sm {
      }
    }

    p {
      font-weight: normal;
    }
  }

  &__link {
    order: 3;
    @include lg {
      order: 3;
      flex: 1 1 50%;
    }

    a {
      color: $background-blue;
    }
  }

}

.delivery-tel {
  @include lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    display: inline-block;
    padding-bottom: vw(8);
    @include lg {
      text-align: center;
      padding-bottom: vp(8);
    }
    @include sm {
      padding-bottom: vm(5);
    }
  }

  &-link__box {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include lg {
      width: 50%;
      justify-content: center;
    }
    @include sm {
      width: 100%;
    }
  }

  &__tel {
    padding-right: vw(15);
    @include lg {
      padding-right: vp(15);
    }
    @include sm {
      padding-right: vm(8);
    }

    &-link {
      padding-block: vw(10);
      font-weight: bold;
    }
  }

  &__telegram {
    width: vw(38);
    @include lg {
      width: vp(30);
    }
    @include sm {
      width: vm(24);
    }

    &-link {
      svg {
        display: block;
        width: 100%;
      }
    }
  }


}

.delivery-tg__svg {
  order: 1;
  width: vw(82);
  @include lg {
    order: 2;
    flex: 1 1 50%;
    width: vp(44);
  }
  @include sm {
    width: vm(24);
  }

  svg {
    display: block;
    width: 100%;
  }
}

.footer--delivery {
  margin-bottom: 0;
}

.delivery-options {
  input[type='radio'],
  label {
    cursor: pointer;
  }

  input[type='radio'] {
    position: relative;
    height: vw(22);
    width: vw(22);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    @include lg {
      height: vm(22);
      width: vm(22);
    }
  }

  input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: vw(22);
    height: vw(22);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: vw(2) solid rgba(232, 77, 34, 0.20);
    @include lg {
      height: vm(22);
      width: vm(22);
      border: vm(2) solid rgba(232, 77, 34, 0.20);
    }
  }

  input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: vw(12);
    height: vw(12);
    border-radius: 50%;
    background-color: #30A23C;
    transform: translate(-50%, -50%);
    visibility: visible;
    @include lg {
      height: vm(12);
      width: vm(12);
    }
  }

  input[type="radio"]:checked + label {
    font-weight: bold;
  }

}

.delivery-options__wrapper {
  display: flex;
  gap: vw(10);
  justify-content: center;
  align-items: center;
}