
@use "../../presets/index" as *;

.general {
  width: 100vw;


  display: flex;
  flex-direction: column;
  position: relative;
  &-bg {
    background-image: linear-gradient(343.87deg, rgba(45, 50, 44, 0.3) 14.59%, rgba(26, 138, 241, 0) 86.71%), url('../images/main.png');
    height: 100%;
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: center, center;

    animation: opacity2 5.2s linear;
  }
  &-container {
    display: flex;
    //flex: 1;
    height: 100%;
  }

  &-wrapper {
    flex-basis: 100%;
    position: relative;
    background-image: url('../images/butl.png');
    background-size: vw(800) vw(640);
    background-repeat: no-repeat;
    background-position: left bottom;
    @include lg {
      background-size: 60%;
      background-position: center bottom;
    }
    @include sm {
      background-size: contain;
      background-position: center bottom;
    }
    &__price {
      position: absolute;
      bottom: vw(420);
      left: vw(170);
      padding: vw(35) vw(30) vw(35);
      width: vw(145);
      height: vw(145);
      transform: rotateZ(-11deg);
      color: $color-white;
      background-color: $color-red;
      border-radius: 50%;
      @include lg {
        width: vp(145);
        height: vp(145);
        bottom: vp(280);
        left: vp(290);
      }
      @include sm {
        width: vm(75);
        height: vm(75);
        bottom: vm(175);
        left: vm(70);
      }
      p {
        line-height: vw(24);
        color: $color-white;
        display: block;
        font-size: vw(20);
        @include lg {
          font-size: vp(20);
          line-height: vp(24);
          padding-left: vp(14);
        }
        @include sm {
          font-size: vm(12);
          line-height: vm(15);
          padding-left: vm(9);
        }
        i {
          font-weight: 700;
          font-size: vw(30);
          text-align: center;
          font-style: normal;
          @include lg {
            font-size: vp(40);
            line-height: vp(48);
          }
          @include sm {
            font-size: vm(24);
            line-height: vm(29);
          }
        }
      }
    }
    &__info {
      position: relative;
      margin-top: vw(362);
      margin-left: vw(825);
      @include lg {
        margin-inline: auto;
        margin-top: vp(86);
        padding-inline: vp(15);
      }
      @include sm {
        margin-inline: auto;
        margin-top: vm(38);
        padding-inline: vm(15);
      }
    }
    &__title {
      font-weight: 700;
      font-size: vw(55);
      line-height: vw(58);
      color: $color-red;
      max-width: vw(670);
      @include lg {
        font-weight: 700;
        font-size: vp(55);
        line-height: vp(58);
        text-align: center;
        max-width: 100%;
      }
      @include sm {
        font-weight: 700;
        font-size: vm(32);
        line-height: vm(34);
        text-align: center;
        max-width: 100%;
      }
    }
    &__description {
      font-weight: 500;
      font-size: vw(36);
      line-height: vw(38);
      color: $color-h-txt-link;
      @include lg {
        margin-inline: auto;
        font-size: vp(36);
        line-height: vp(38);
        text-align: center;
      }
      @include sm {
        margin-inline: auto;
        font-size: vm(20);
        line-height: vm(21);
        text-align: center;
      }
    }
    &__btn {
      background: $color-red;
      border-radius: vw(100);
      color: $color-white;
      font-weight: 700;
      font-size: vw(20);
      line-height: 100%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border: none;
      padding: vw(30) vw(50);
      margin-top: vw(65);
      @include lg {
        width: vp(420);
        height: vp(80);
        font-size: vp(20);
        margin-inline: auto;
        margin-top: vp(60);
      }
      @include sm {
        width: vm(300);
        height: vm(58);
        font-size: vm(16);
        margin-inline: auto;
      }
    }
  }
}

.circle-text {
  width: vw(224);
  height: vw(224);
  position: absolute;
  top: vw(-130);
  left: vw(-50);
  @include lg {
    width: vp(224);
    height: vp(224);
    top: vp(-100);
    left: vp(180);
  }
  @include sm {
    width: vm(145);
    height: vm(145);
    top: vm(-80);
    left: vm(5);
  }
  img {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

.circle-rotate {
  animation: rotate 20s linear infinite;
}

.height {
  height: 100vh;
}

.pb-600 {
  @include lg {
    padding-bottom: vp(600);
  }
}

.white-block {
  height: vw(114);
  @include lg {
    height: vp(114);
  }
  @include sm {
    height: vm(57);
  }
}

.bg-size {
  background-size: 65%;
}

.top {
  @include sm {
    bottom: vm(105);
    left: vm(85);
  }
}

@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}