
$color-white: #ffffff;
$color-black: #000000;
$color-h-txt-link: #0A0E20;
$color-logo: #30A23C;
$color-green: #30A23C;
$color-green-border: rgba(48, 162, 60, 0.2);
$color-red: #F80505;
$color-red-border: #FFBBBB;
$color-blue: #1377ED;
$color-blue-txt: #3274DE;
$color-blue-link: #0879E0;
$color-opacity: #5A5B63;
$color-grey-border: #D4D8EB;
$color-grey-border-light: #D8E4EE;
$color-grey-increase: #949CBE;

$background-light: #F2F9FF;
$background-grey: #D8E8F8;
$background-blue: #51A5F2E5;


$font-weight-accent: 700;
$font-weight-500: 500;
