@use "../../presets/index" as *;

.scroll-button {
  position: fixed;
  bottom: vw(75);
  right: vw(100);
  width: vw(82);
  height: vw(82);
  display: flex;
  justify-content: center;
  align-items: center;
  //color: #fff;
  cursor: pointer;
  z-index: 999;

  img {
    display: block;
    overflow: hidden;
  }


  @include lg {
    width: vp(82);
    height: vp(82);
  }

  @include sm {
    width: vm(44);
    height: vm(44);
  }
}