@use "../../presets/index" as *;

.visible {
  display: block;
}

.modal__container {
  position: fixed;
  padding: 300px 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.80);
  border: 1px solid $color-black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  //  overflow-y: auto;
  //  overflow-x: hidden;
  //  width: 100vw;
  //  height: 100vh;
  //  opacity: 1;
  //  animation: open 0.5s ease-in-out;
}

.modal {
  z-index: 1000;
  display: none;
  //display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $background-light;
  box-shadow: vw(14) vw(17) vw(39) rgba(216, 225, 236, 0.94);
  border-radius: vw(30);
  overflow: hidden;
  padding: vw(73) vw(68) vw(43) vw(71);

  @include lg {
    max-width: vp(980);
    margin-inline: auto;
    width: 90%;
    height: auto;
    //left: vp(25);
    //right: vp(25);
    padding: vp(73) vp(68) vp(43) vp(71);
  }
  @include sm {
    max-width: vm(350);
    //top: 5vh;
    //left: vm(5);
    //right: vm(5);
    padding: vm(25) vm(22) vm(19) vm(22);
  }
  //
  //&__wrapper {

  //}

  &-content {
    width: vw(1047);
    height: vw(735);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    @include lg() {
      padding: vp(15);
      height: auto;
    }

    @include sm {
      padding: vm(15);
    }

    .btn {
      width: 30%;
      border-radius: vw(100);
      font-size: vw(15);
      font-weight: $font-weight-accent;
      line-height: 1.2;
      letter-spacing: 0.1em;
      text-align: center;
      padding: vw(23) vw(30) vw(23) vw(29);

      @include lg {
        font-size: vp(14);
        width: 100%;
        height: auto;
        margin: auto;
        padding: vp(23) vp(30) vp(23) vp(29);
      }
      @include sm {
        font-size: vm(12);
        padding: vm(15) vm(18) vm(15) vm(19);
      }
    }
  }

  .close {
    color: $color-grey-increase;
    float: right;
    font-size: vw(45);

    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: vw(2);
    margin-right: vw(25);

    @include lg {
      font-size: vp(40);
      margin-top: vp(2);
      margin-right: vp(25);
    }
    @include sm {
      font-size: vm(20);
      margin-top: vm(2);
      margin-right: vm(10);
    }

    &:hover,
    &:focus {
      color: $color-h-txt-link;
      text-decoration: none;
      cursor: pointer;
    }
  }
}


.modal-order-accepted,
.modal-order-in-cart {
  //display: flex;

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .modal-image {
      padding-bottom: vw(38.66);
      width: vw(147);
      @include lg {
        padding-bottom: vp(38.66);
        width: vp(147);
      }
      @include sm {
        padding-bottom: vm(19);
        width: vm(50);
      }

      img {
        display: block;
        width: 100%;
      }
    }

    .modal-title {
      display: flex;
      flex-wrap: nowrap;
      color: $color-green;
      padding-bottom: vw(35);
      font-size: vw(32);
      @include lg {
        text-align: center;
        padding-bottom: vp(35);
        font-size: vp(32);
      }
      @include sm {
        padding-bottom: vm(20);
        font-size: vm(32);
      }
    }

    p {
      line-height: 1.23;
      text-align: center;
      @include lg {
        padding-bottom: vp(75);
      }
      @include sm {
        padding-bottom: vm(35);
      }
    }
  }
}

.modal-item {
  //display: flex;

  .modal-content {

    .modal__wrapper {
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
    }

    .modal-image {
      width: 40%;
      max-width: vw(169);
      height: vw(262);
      margin: auto;
      display: flex;
      align-items: center;
      overflow: hidden;

      @include lg {
        width: initial;
        margin: auto;
        height: auto;
        padding-bottom: vp(10);
      }
      @include sm {
        padding-bottom: vm(10);
      }

      img {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    .modal-content__wrap {
      display: flex;
      width: 60%;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding-bottom: vw(30);

      @include lg {
        padding-bottom: vp(20);
      }
      @include sm {
        padding-bottom: vm(15);
      }

      .modal-title {
        display: inline-block;
        width: 100%;
        padding-bottom: vw(25);

        @include lg {
          padding-bottom: vp(25);
        }
        @include sm {
          padding-bottom: vm(15);
        }
      }

      p {
        padding-bottom: vw(40);
        @include lg {
          padding-bottom: vp(30);
        }
        @include sm {
          padding-bottom: vm(10);
        }
      }

      .modal-counter-price-wrapper {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: vw(18);

        @include lg {
          justify-content: start;
          gap: vp(10);
          padding-bottom: vp(17);
        }
        @include sm {
          width: 100%;
          gap: vm(10);
          padding-bottom: vm(7);
        }

        .modal-counter {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: vw(15) vw(21) vw(15) vw(23);

          background: $color-white;
          border-color: $color-grey-border;

          @include lg {
            padding: vp(15) vp(21) vp(15) vp(23);
          }
          @include sm {
            padding: vm(7) vm(7) vm(8) vm(9);
          }

          .counter-minus,
          .counter-plus {
            display: block;
            height: vw(34);
            width: vw(16);
            color: $color-grey-increase;
            text-align: center;
            border: none;
            background: none;

            @include lg {
              height: vp(34);
              width: vp(16);
            }
            @include sm {
              height: vm(21);
              width: vm(10);
            }

            &:active {
              color: $color-grey-border;
            }
          }

          .counter-value {
            font-size: vw(20);
            display: block;
            flex: 1;
            width: vw(37);
            height: vw(21);
            color: $color-grey-increase;
            text-align: center;
            border: none;

            @include lg {
              font-size: vp(20);
              width: vp(37);
              height: vp(21);
            }
            @include sm {
              font-size: vm(15);
              width: vm(17);
              height: vm(21);
            }
          }

          //.counter-input::-webkit-outer-spin-button,
          //.counter-input::-webkit-inner-spin-button {
          //  -webkit-appearance: none;
          //}
        }

        .modal-price {
          width: 25%;
          display: flex;
          align-items: center;
          @include lg {
            width: 30%;
          }

          p {
            font-weight: 500;
            padding: 0;

            @include lg {
              font-size: vp(22);
            }
            @include sm {
              font-size: vm(14);
            }

            span {
              font-weight: 400;
            }
          }
        }
      }

      .btn {
        width: 60%;

        @include lg {
          margin-left: 0;
        }
        @include sm {
          width: 100%;
        }
      }
    }

    &__text-little {
      align-items: start;

      p {
        display: block;
        width: vw(302);
        font-weight: $font-weight-accent;
        color: red;

        @include lg {
          width: 80%;
        }
      }
    }
  }
}

.modal-cart {
  //display: flex;

  .modal-content {
    justify-content: start;

    .modal-title {
      display: block;
      padding-bottom: vw(46);
      @include lg {
        padding-bottom: vp(40);
      }
      @include sm {
        padding-bottom: vm(20);
      }
    }

    .text-little {
      display: block;
      font-size: vw(17);
      color: $color-grey-increase;
      padding-bottom: vw(23);
    }
  }

  .cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;

    &__wrap {
      width: 100%;
      //height: vw(268);
      display: flex;
      flex-direction: column;
      justify-content: start;
      overflow-y: scroll;
    }

    .cart-item {
      display: flex;
      height: vw(134);
      justify-content: space-between;
      align-items: center;
      border-top: vw(1) solid $color-grey-border;
      border-bottom: vw(1) solid $color-grey-border;
      @include lg {
      }
      @include sm {
        flex-direction: column;
        height: auto;
      }

      &__info {
        display: flex;
        justify-content: start;
        align-items: center;

        .for-img {
          width: vw(61);
          height: vw(95);
          padding-right: vw(24);
          @include lg {
            width: vp(61);
            height: vp(95);
            padding-right: vp(24);
          }
          @include sm {
            width: vm(30);
            height: vm(50);
            padding-right: vm(15);
          }

          img {
            display: block;
            width: 100%;
          }
        }

        .icon {
          padding-right: vw(11);
          @include lg {
            padding-right: vp(11);
          }
          @include sm {
            padding-right: vm(6);
          }
        }

        .cart-item__quantity {
          font-weight: 500;
          padding-right: vw(48);
          @include lg {
            padding-right: vp(48);
          }
          @include sm {
            padding-right: vm(20);
          }
        }
      }

      &__total-price {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-left: auto;

        p {
          padding-right: vw(49.89);
          @include lg {
            padding-right: vp(48);
          }
          @include sm {
            padding-right: vm(20);
          }
        }

        button {
          margin-right: vw(10);
          width: vw(16);
          height: vw(19);
          overflow: hidden;
          border: none;

          @include lg {
            margin-right: vp(10);
            width: vp(16);
            height: vp(20);
          }
          @include sm {
            margin-right: vm(5);
            width: vm(8);
            height: vm(10);
          }

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .cart-total {
      width: 30%;
      display: flex;
      justify-content: right;
      margin-right: vw(41);
      margin-top: vw(32);
      @include sm {
        margin-right: 0;
        width: 80%;
      }

      p {
        padding-bottom: vw(79);
        font-weight: 500;

        span {
          margin-left: vw(85);
        }
      }
    }

    .btn {
      text-align: center;
      align-items: center;
      margin-bottom: vw(35);
      padding-bottom: vw(30);
      @include lg {
        width: 50%;
        margin-right: 0;
      }
      @include sm {
        width: 100%;
      }
    }
  }
}

.modal-contact {
  //display: flex;

  .modal-content {
    justify-content: start;
    //align-items: center;

    .modal-title {
      color: $color-red;
      margin-bottom: vw(46);
      @include lg {
        margin-bottom: vp(46);
      }
      @include sm {
        margin-bottom: vm(20);
      }
    }
  }

  #contact-form {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    input,
    textarea,
    select {
      width: 100%;
      background: $color-white;
      border: vw(1) solid $color-grey-border;
      border-radius: vw(30);
      padding: vw(28) vw(28) vw(27) vw(39);
      @include lg {
        border-radius: vp(30);
        padding: vp(28) vp(28) vp(27) vp(39);
      }
      @include sm {
        border-radius: vm(10);
        padding: vm(14) vw(14) vw(13) vw(19);
      }
    }

    .payment-amount,
    .delivery-options {
      flex-basis: 50%;
      margin-bottom: vw(43);
      @include sm {
        flex-basis: 100%;
        margin-bottom: vp(43);
      }
      @include sm {
        margin-bottom: vm(15);
      }
    }

    .delivery-options {
      display: flex;
      @include lg {
        width: 100%;
        justify-content: space-around;
        padding: vm(15);
      }

      input {

      }

      input[type='radio'] {
        margin-right: vw(5);
        display: inline-flex;

        @include lg {
          margin-right: vp(5);
        }
        @include sm {
          margin-right: vm(5);
        }
      }

      input:checked {
        font-weight: $font-weight-accent;
      }
    }

    .form-row {
      margin-bottom: vw(12);
      flex-wrap: nowrap;
      @include lg {
        margin-bottom: vp(12);
      }
      @include sm {
        margin-bottom: 0;
      }
    }

    .checkbox-label {
      display: block;
      font-weight: 400;

      input {
        width: auto;
      }

      @include sm {
        padding-bottom: vm(10);
      }
    }

    .date-input {
      position: relative;
    }

    .calendar-icon {
      position: absolute;
      top: 50%;
      right: vw(40);
      transform: translateY(-50%);
      width: vw(30);
      height: vw(30);

      @include lg {
        width: vp(30);
        height: vp(30);
      }
      @include sm {
        width: vm(30);
        height: vm(30);
      }
    }

    .down-arrow-icon {
      /* Стили для иконки стрелки вниз */
    }

    /* Дополнительные стили для размещения полей */
    .payment-amount,
    .delivery-options {
      display: flex;
      justify-content: space-between;
    }

    .form-row__checkbox label {
      @include lg {
        display: flex;
        gap: vp(5);
      }@include sm {
        gap: vm(5);
      }
    }

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      display: inline-flex;
      width: vw(22);
      height: vw(22);
      border-radius: vw(6);
      border: vw(1) solid #D4D8EB;
      background: $color-white;
      padding-right: vw(5);
      @include lg {
        width: vp(22);
        height: vp(22);
        border: vp(1) solid #D4D8EB;
        border-radius: vp(6);
        padding-right: vp(5);
      }
      @include sm {
        width: vm(22);
        height: vm(22);
        border: vm(1) solid #D4D8EB;
        border-radius: vm(6);
        padding-right: vm(20);
      }
    }

    input[type="checkbox"]:checked {
      background-color: $color-blue;
    }

    .full-width-row {
      width: 100%;
      @include sm {
        margin-bottom: vm(5);
      }
    }

    .textarea-row {
      width: 100%;
    }

    .textarea-row textarea {
      height: vw(100);
      overflow-y: auto;
      resize: none;
      width: 100%;
      @include lg {
        height: vp(100);
      }
      @include sm {
        height: vm(100);
      }
    }

    .flex-between-row {
      display: flex;
      justify-content: space-between;
    }

    .payment-selection {
      display: flex;
      gap: vw(20);
      align-items: center;
      margin-left: auto;

      @include sm {
        margin-left: 0;
        margin-bottom: vm(10);
      }

      span {
        display: block;
        margin-left: vw(5);
        padding-bottom: vw(6);
      }

      .payment_wrap {
        position: relative;

        svg {
          position: absolute;
          right: vw(20);
          bottom: 50%;
          transform: translate(-50%, 50%);
        }

        select {
          font-weight: bold;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }

        select::-ms-expand {
          display: none;
        }
      }
    }

    .form-section {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;

      .form-row {
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 100%;
        justify-content: space-between;
        @include lg {
          flex-wrap: wrap;
        }

        .item {
          flex-basis: 50%;
          @include sm {
            margin-bottom: vm(5);
            flex-basis: 100%;
          }
        }
      }

      .btn {
        @include lg {
          width: 50%;
        }
        @include sm {
          width: 100%;
        }
      }
    }
  }
}

.modal-content {
  @include lg {
    width: 100%;
  }
}

.form-row__box {
  width: 100%;
}

.form-row {
  flex-wrap: nowrap;
  gap: vw(20);
}