@use "../../presets/index" as *;

.goods {
  padding-bottom: vw(131);

  @include lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: vp(131);
  }
  @include sm {
    padding-bottom: vm(68);
  }

  &-content {
    position: relative;
    margin-left: vw(183);
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include lg {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin: vm(5);
      padding: vm(20);
    }

    &__text {
      width: vw(755);
      text-align: left;
      padding-bottom: vw(38);

      @include lg {
        width: 100%;
        text-align: center;
        padding-bottom: 0;
      }

      h2 {
        padding-bottom: vw(50);

        @include lg {
          padding-bottom: vp(40);
        }
        @include sm {
          padding-bottom: vm(20);
        }
      }

      p {
        width: 100%;
      }
    }

    &__btn {
      position: absolute;
      top: 0;
      right: vw(82);
      display: flex;

      @include lg {
        position: initial;
        justify-content: center;
        padding-bottom: vp(40);
      }
      @include sm {
        padding-bottom: vm(20);
      }

      .btn {
        position: relative;
        display: flex;
        align-items: center;
        @include lg {
          padding: vp(20) vp(30) vp(19) vp(83);
        }
        @include sm {
          padding: vm(16) vm(24) vm(15) vm(57);
        }

        &::before {
          position: absolute;
          content: "";
          display: inline-block;
          height: vw(29.12);
          width: vw(29.12);
          left: vw(20);
          background: url("../../assets/images/punkt.svg") no-repeat;
          background-size: cover;

          @include lg {
            height: vp(29);
            width: vp(29);
            left: vp(29);
          }
          @include sm {
            height: vm(24);
            width: vm(24);
            left: vm(20);
          }
        }
      }
    }
  }

  &-carousel {
    position: relative;
    max-width: vw(1364);
    margin-inline: auto;
    //height: vw(564);
    display: flex;
    justify-content: center;
    align-items: center;

    @include lg {
      max-width: vp(450);
      justify-content: center;
      margin-inline: vp(20);
      height: auto;
    }
    @include sm {
      max-width: vm(215);
      margin-inline: vm(5);
      height: auto;
    }

    &__item {
      background: $color-white;
      border: vw(1) solid $color-grey-border;
      border-radius: vw(30);
      box-shadow: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: vw(41) vw(20) vw(22) vw(21);
      transition: box-shadow 0.3s;

      @include lg {
        padding: vp(41) vp(20) vp(22) vp(21);
        border-radius: vp(30);
        border: vp(1) solid $color-grey-border;
        margin-inline: vp(5);
      }
      @include sm {
        padding: vm(23) vm(8) vm(14) vm(9);
        border-radius: vm(10);
        border: vm(1) solid $color-grey-border;
        margin-inline: vm(5);
      }

      &:hover {
        background: $background-light;
        box-shadow: vw(8) vw(11) vw(15) rgba(216, 225, 236, 0.94);
        border-radius: vw(30);

        @include lg {
          box-shadow: vp(8) vp(10) vp(15) rgba(216, 225, 236, 0.94);
          border-radius: vp(30);
        }
        @include sm {
          box-shadow: vm(3) vm(4) vm(8) rgba(216, 225, 236, 0.94);
          border-radius: vm(10);
        }
      }

      .good-image {
        width: vw(173);
        height: vw(262);
        margin-inline: auto;
        display: flex;
        align-items: flex-end;
        margin-bottom: vw(25);
        overflow: hidden;

        @include lg {
          width: vm(95);
          margin: auto;
          height: auto;
          padding-bottom: vm(10);
        }

        img {
          display: block;
          width: 100%;
          text-align: center;
        }
      }

      .good-title {
        display: block;
        font-size: vw(20);
        font-weight: $font-weight-accent;
        line-height: 1.3;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: vw(17);

        @include lg {
          font-size: vp(22);
          padding-bottom: vp(17);
        }
        @include sm {
          font-size: vm(14);
          padding-bottom: vm(5);
        }
      }

      .good-counter-price-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: vw(17);

        @include lg {
          justify-content: space-between;
          padding-bottom: vp(17);
        }
        @include sm {
          justify-content: space-between;
          padding-bottom: vm(6);
        }

        .good-counter {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: vw(15) vw(21) vw(15) vw(23);
          margin: 0;

          background: $color-white;
          border-color: $color-grey-border;

          @include lg {
            width: 40%;
            padding: vp(15) vp(21) vp(15) vp(23);
          }
          @include sm {
            padding: vm(7) vm(7) vm(8) vm(9);
          }

          .counter-minus,
          .counter-plus {
            display: block;
            height: vw(34);
            width: vw(16);
            color: $color-grey-increase;
            text-align: center;
            border: none;
            background: none;

            @include lg {
              height: vp(34);
              width: vp(16);
            }

            @include sm {
              height: vm(21);
              width: vm(10);
            }

            &:active {
              color: $color-grey-border;
            }
          }

          .counter-value {
            font-size: vw(20);
            display: block;
            flex: 1;
            width: vw(37);
            height: vw(21);
            color: $color-grey-increase;
            text-align: center;
            border: none;

            @include lg {
              font-size: vp(20);
              width: vp(37);
              height: vp(21);
            }
            @include sm {
              font-size: vm(15);
              width: vm(17);
              height: vm(21);
            }
          }

          //.counter-input::-webkit-outer-spin-button,
          //.counter-input::-webkit-inner-spin-button {
          //  -webkit-appearance: none;
          //}
        }

        .good-price {
          width: 30%;
          display: flex;

          p {
            font-weight: 500;

            @include lg {
              font-size: vp(22);
            }
            @include sm {
              font-size: vm(14);
            }

            span {
              font-weight: 400;
            }
          }
        }
      }

      .btn {
        background-color: $color-green;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        border: vw(1) solid $color-green;
        font-size: vw(15);
        font-weight: $font-weight-accent;
        line-height: 1.2;
        letter-spacing: 0.1em;
        text-align: center;
        padding: vw(23) vw(30) vw(23) vw(29);

        &:hover {
          background-color: $color-green-border;
          color: $color-green;
        }

        @include lg {
          font-size: vp(15);
          height: auto;
          margin: auto;
          padding: vp(23) vp(30) vp(23) vp(29);
        }
        @include sm {
          font-size: vm(12);
          //width: 90%;
          height: auto;
          margin: auto;
          padding: vm(15) vm(28) vm(15) vm(19);
        }
      }
    }
  }

  .goods-carousel {
    .owl-stage-outer {
      width: vw(1383);
      padding: vw(40) 0;

      @include lg {
        width: vp(465);
        padding: vp(35) 0;
      }
      @include sm {
        width: vm(217);
        padding: vm(10) 0;
      }
    }

    .owl-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    .owl-prev {
      left: vw(-120);
      top: 30%;
      width: vw(82);
      height: vw(82);
      content: url("../../assets/images/arrow_light1.png");
      transition: 0.2s;

      @include lg {
        left: vp(-175);
        width: vp(82);
        height: vp(82);
      }
      @include sm {
        left: vm(-65);
        width: vm(54);
        height: vm(54);
      }

      &:hover {
        content: url("../../assets/images/arrow_active.png");
      }

      &:active {
        transform: scale(1.05);
      }
    }

    .owl-next {
      right: vw(-120);
      top: 30%;
      width: vw(82);
      height: vw(82);
      content: url("../../assets/images/arrow_light1.png");
      transform: rotate(180deg);
      transition: 0.2s;


      @include lg {
        right: vp(-175);
        width: vp(82);
        height: vp(82);
      }
      @include sm {
        right: vm(-65);
        width: vm(54);
        height: vm(54);
      }

      &:hover {
        content: url("../../assets/images/arrow_active.png");
      }

      &:active {
        transform: scale(1.05) rotate(180deg);
      }
    }
  }
}