@use "../../presets/index" as *;

.contacts {
  padding-bottom: 0;
  border-radius: vw(30) vw(30) 0 0;
  background-color: $background-light;

  @include md {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
  }

  &-content {
    margin-left: vw(183);
    text-align: start;
    display: flex;
    flex-direction: column;

    &__text {
      width: vw(723);
      padding-bottom: vw(33);

      //@include md {
      //  width: 100%;
      //  margin: vw(5);
      //}

      h2 {
        padding-bottom: vw(42);
      }

      p {
        width: 100%;
      }
    }
  }

  &-info {
    display: flex;
    margin: auto;
    justify-content: start;
    align-items: center;
    padding-bottom: vw(88);

    &__map {
      display: block;
      width: vw(484);
      height: vw(355);
      margin-right: vw(60);
      background: url("../../assets/images/map.png") no-repeat;
      background-size: cover;
      border: vw(1) solid $color-grey-border;
      border-radius: 20px;
    }

    &__address,
    &__time {
      padding-right: vw(143);
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      &-title {
        position: relative;
        display: flex;

        &::before {
          position: absolute;
          content: url("../../assets/images/map_icon.svg");
          overflow: hidden;
          width: vw(25);
          height: vw(37.65);
          top: 0;
          left: 0;
        }
      }
    }

    &__time {
      padding-right: vw(5);
      &-title {
        &::before {
          content: url("../../assets/images/map_icon.svg");
          width: vw(33);
          height: vw(39.06);
        }
      }
    }
  }
}