@use "../../presets/index" as *;

.contacts {
  padding-top: vw(195);

  .container-1540 {
  padding: vw(76) vw(44) vw(88);
  border-radius: vw(30) vw(30) 0 0;
  background-color: $background-light;
  }

  @include lg {
    padding-bottom: vm(54);
  }

  &-content {
    margin-left: vw(183);
    text-align: start;
    display: flex;
    flex-direction: column;
    @include lg {
      margin-left: 0;
    }

    &__text {
      width: vw(723);
      padding-bottom: vw(33);

      @include lg {
        width: 100%;
        margin: vw(5);
      }

      h4 {
        padding-bottom: vw(42);
        @include lg {
          text-align: center;
          font-size: vm(32);
        }
      }

      p {
        width: 100%;
        @include lg {
          text-align: center;
          font-size: vm(16);
        }
      }
    }
  }

  &-info {
    display: flex;
    //margin: auto;
    justify-content: space-between;
    //align-items: start;
    //padding-bottom: vw(88);
    @include lg {
      flex-direction: column-reverse;
    }

    &__map {
      display: flex;
      flex-basis: calc(40% - 60px);
      //align-items: start;
      margin-right: vw(60);
      border: vw(1) solid #D4D8EB;
      border-radius: vw(20);
      @include lg {
        flex-basis: auto;
        width: vm(325);
        height: vm(238);
        padding-right: 0;
        border-radius: vm(20);
        margin-right: 0;
      }
      iframe {
        width: 100%;
        height: 100%;
        border-radius: vw(20);
        @include lg {
          width: 100%;
          border-radius: vm(20);
          height: 100%;
        }
      }
      &-link {
        flex: 1;
        font-weight: bold;
        color: #1377ED;
        @include lg {
          margin-inline: auto;
          padding-top: vm(20);
          padding-bottom: vm(30);
        }
      }
    }

    &__tel {
      padding-top: vw(60);
      @include lg {
        padding-bottom: vm(20);
        padding-top: 0;
      }
      &-link {
        font-weight: bold;
        @include lg {
          padding-bottom: vm(40);
        }
      }
    }

    &__address,
    &__time {
      display: flex;
      flex-basis: calc(60% - 143px);
      flex-direction: column;
      align-items: flex-start;
      //padding-right: vw(143);
      //justify-content: start;
      @include lg {
        margin-inline: auto;
        padding-top: vm(60);
      }

      &-title {
        position: relative;
        margin-top: vw(20);
        padding-top: vw(70);
        @include lg {
          text-align: center;
          margin-inline: auto;
        }

        &::before {
          position: absolute;
          content: "";
          overflow: hidden;
          width: vw(25);
          height: vw(37.65);
          top: 30%;
          left: 0;
          transform: translateY(-50%);
          background-image: url("../../assets/images/map_icon.svg");
          background-repeat: no-repeat;
          background-size: cover;
          @include lg {
            width: vm(27);
            height: vm(40);
            top: vm(-25);
            transform: translate(-50%, -50%);
            left: 50%;
          }
        }
      }
    }

    &__address {
      &-title {
        padding-bottom: vw(13.65);
      }
      .contact-info__map-link {
        padding-bottom: vw(45);
        color: $color-blue-link;

        &::after {
          bottom: vw(40);
          border-bottom: vw(1) solid $color-blue-link;
        }

        &:hover {
          transition: 0.2s all;
          color: $color-red;

          &::after {
            transition: 0.2s all;
            border-bottom: vw(1) solid $color-red;
          }
        }
      }
      .contact-info__tel {
        padding-bottom: vw(21);
      }
    }

    &__time {
      //padding-right: vw(5);
      @include lg {
        padding-top: vm(60);
      }
      &-title {
        padding-bottom: vw(2);
        @include lg {
          text-align: center;
          margin-inline: auto;
        }
        span {
          font-weight: bold;
        }

        &::before {
          content: "";
          width: vw(33);
          height: vw(39.6);
          top: 40%;
          background-image: url("../../assets/images/time_icon.svg");
          background-repeat: no-repeat;
          background-size: cover;
          @include lg {
            width: vm(34);
            height: vm(40);
            top: vm(-25);
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      &-description {
        padding-bottom: vw(2);
        @include lg {
          text-align: center;
          margin-inline: auto;
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
}

.contacts-info__box {
  display: flex;
  gap: vw(10);
  align-items: center;

  @include lg {
    gap: vm(10);
  }

}