@use "../../presets" as *;

.order {
  display: flex;
  align-items: center;
  gap: vw(100);
  width: 100%;
  border: vw(1) solid #949CBE;
  border-radius: vw(30);

  @include lg {
    flex-direction: column;
    border-radius: vp(30);
    border: vp(1) solid #949CBE;
    width: auto;
  }

  @include sm {
    border-radius: vm(10);
    border: vm(1) solid #949CBE;
  }

  &__img {
    width: vw(410);
    border-top-left-radius: vw(30);
    border-bottom-left-radius: vw(30);
    overflow: hidden;
    height: 100%;

    @include lg {
      width: 100%;
      height: vm(256);
      border-radius: vp(30) vp(30) 0 0;
    }

    @include sm {
      border-radius: vm(10) vm(10) 0 0;
    }

    img {
      width: 100%;
    }

    img:first-child {
      @include lg {
        display: none;
      }
    }

    img:last-child {
      display: none;
      @include lg {
        display: block;
        width: 100%;
      }
    }
  }

  &-info {
    padding: vw(84) vw(56) vw(61) vw(0);
    flex: 1;

    @include lg {
      justify-content: center;
      align-items: center;
      padding: vp(0) vp(12) vp(36) vp(12);
    }
    @include sm {
      padding: vm(0) vm(12) vm(36) vm(12);
    }

    &__title {
      display: block;
      color: $color-red;
      padding-bottom: vw(29);

      @include lg {
        width: 100%;
        align-items: center;
        text-align: center;
        padding-right: 0;
        margin: 0;
      }
      @include sm {
        padding-bottom: vm(13);
      }
    }

    &__description {
      //line-height: 150%;
      color: $color-h-txt-link;

      @include lg {
        text-align: center;

        padding-bottom: vp(21);
      }
      @include sm {
        padding-top: 0;
        padding-bottom: vm(21);
      }
    }
  }

  &-form {
    @include lg {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }

    button {
      padding-inline: vw(20);
      flex: 1;
      //width: vw(298);
      @include lg {
        padding-inline: vp(20);
        margin-top: vp(50);
        width: 50%;
      }
      @include sm {
        width: auto;
        padding-inline: vm(51);
        margin-inline: vm(25);
      }

      &:hover {
        color: $color-red;
        background-color: lighten($color-red, 30);
      }
    }

    &__wrapper {
      padding-top: vw(50);
      padding-bottom: vw(35);
      display: flex;
      gap: vw(20);
      justify-content: space-between;
      margin-left: vw(-450);

      @include lg {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
      }

      input {
        padding: vw(28) vw(50);
        line-height: vw(21);
        color: $color-h-txt-link;
        background: $color-white;
        border: vw(1) solid $color-grey-border;
        border-radius: vw(30);
        @include lg {
          padding: vp(25) vp(50);
          border-radius: vp(20);
          margin-bottom: vp(8);
        }
        @include sm {
          padding: vm(25) vm(19);
          border-radius: vm(20);
          margin-bottom: vm(8);
        }
      }
    }

    &__label-wrapper {
      display: flex;
      align-items: flex-start;
      gap: vw(7);
      @include lg {
        gap: vp(10);
      }
      @include sm {
        gap: vm(10);
      }
    }

    label {
      flex: 1;
      display: block;
      font-size: vw(16);
      line-height: vw(17);
      color: $color-h-txt-link;
      max-width: vw(520);
      @include lg {
        font-size: vp(16);
        line-height: normal;
        max-width: 80%;
      }
      @include sm {
        max-width: 100%;
        font-size: vm(12);
        line-height: normal;
      }
    }
  }

  &__input-name {
    flex: 1;
  }

  &__input-tel {
    flex: 1.5;
  }
}

.order-form__label-wrapper {
  input {
    //appearance: none;
    //-webkit-appearance: none;
    //-moz-appearance: none;
    //display: inline-block;
    //width: vw(22);
    //height: vw(22);
    //border-radius: vw(6);
    //border: vw(1) solid #D4D8EB;
    //background: $color-white;
  }

  //input[type="checkbox"]:checked {
  //  background-color: $color-blue;
  //}

  label {
    //display: inline-block;
  }
}

.order-form__label-wrapper {
  @include lg {
    display: none;
  }
}

.order-form__label-wrapper--mobile {
  display: none;
  @include lg {
    display: flex;
  }
}

.new-mobile {
  width: 100%;
  display: none;
  margin-top: vm(50);
  @include lg {
    display: block;
  }

  img {
    width: 100%;
  }
}