@use "../../presets/index" as *;

.water {
  padding-bottom: vw(151);

  background-image: url('../../assets/images/water-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;

  @include lg {
    padding-bottom: vm(170);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-content {
    margin-left: vw(183);
    display: flex;
    text-align: start;
    flex-direction: column;
    width: vw(996);
    @include lg {
      width: 100%;
      margin-left: 0;
    }

    h2,
    p {
      padding-bottom: vw(21);
      @include lg {
        margin-bottom: vm(17);
      }
    }

    h2 {
      @include lg {
        font-size: vm(24);
        text-align: center;
        max-width: vm(300);
        margin-inline: auto;
      }
    }

    p {
      line-height: 1.05;
      @include lg {
        font-size: vp(20);
        text-align: center;
        padding-inline: vm(15);
      }
      @include sm {
        font-size: vm(14);
      }
    }

    a {
      color: $color-blue-link;
      font-weight: $font-weight-accent;
      text-decoration: underline;
      text-underline-offset: vw(2);
      @include lg {
        text-align: center;
      }


      &:hover {
        color: $color-red-border;
      }
    }

  }
}

.read-more {
  color: #0879E0;
  text-decoration: underline;
  cursor: pointer;
}

.read-box {
  height: vw(100);
  overflow-y: hidden;
  transition: 0.3s;
  @include lg {
    height: vp(150);
  }
  @include sm {
    height: vm(75);
  }
}

.read-height {
  height: vw(350);
  @include lg {
    height: vp(530);
  }
  @include sm {
    height: vm(590);
  }
}
