@use "../../presets/index" as *;

.water {
  padding-bottom: vw(151);

  background-image: url('../../assets/images/water-mobile.png');
  background-repeat: no-repeat;
  background-size: vw(500) vw(200);
  background-position: bottom right;

  @include lg {
    padding-bottom: vp(151);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include sm {
    padding-bottom: vm(170);
  }

  &-content {
    display: flex;
    text-align: start;
    flex-direction: column;
    //width: vw(996);
    @include lg {
      width: 100%;
      margin: 0;
    }

    h2,
    p {
      margin-left: vw(183);
      padding-bottom: vw(21);
      @include lg {
        margin-left: 0;
        margin-bottom: vp(21);
      }
      @include sm {
        margin-bottom: vm(17);
      }
    }

    h2 {
      @include lg {
        display: block;
        width: 100%;
        text-align: center;
        padding-inline: vp(25);
      }
      @include sm {
        padding-inline: vm(20);
      }
    }

    p {
      line-height: 150%;
      @include lg {
        font-size: vp(20);
        text-align: center;
        padding-inline: vm(15);
      }
      @include sm {
        line-height: 130%;
        font-size: vm(14);
      }
    }

    a {
      &:hover {
        color: $color-red-border;
      }
    }
  }
}

.read-more {
  color: $color-blue-link;
  font-weight: $font-weight-accent;
  text-decoration: underline;
  text-underline-offset: vw(2);
  cursor: pointer;

  @include lg {
    text-underline-offset: vp(2);
    text-align: center;

  }
  @include sm {
    text-underline-offset: vm(2);
  }
}

.read-box {
  height: vw(100);
  overflow-y: hidden;
  transition: 0.3s;
  @include lg {
    height: vp(150);
  }
  @include sm {
    height: vm(75);
  }
}

.read-height {
  //height: vw(350);
  height: auto;
  //@include lg {
  //  height: vp(530);
  //}
  //@include sm {
  //  height: vm(590);
  //}
}