/* Error: expected "{".
 *     ,
 * 170 | >>>>>>> a8db1ce91a56b3fda2c315986ed7a0cd5e38952c
 *     |                                                 ^
 *     '
 *   body\carousel-certificates\_carousel-certificates.scss 170:49  @forward
 *   body\carousel-certificates\_index.scss 1:1                     @forward
 *   body\_index.scss 10:1                                          @use
 *   index.scss 6:1                                                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 170 \2502  >>>>>>> a8db1ce91a56b3fda2c315986ed7a0cd5e38952c\d\a     \2502                                                  ^\a     \2575 \a   body\\carousel-certificates\\_carousel-certificates.scss 170:49  @forward\a   body\\carousel-certificates\\_index.scss 1:1                     @forward\a   body\\_index.scss 10:1                                          @use\a   index.scss 6:1                                                 root stylesheet';
}
