@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.0416666667vw;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5625vw;
  color: #0A0E20;
}

h2 {
  font-size: 2.0833333333vw;
  font-weight: 700;
  line-height: 1.7515625vw;
}

h3 {
  font-size: 1.6666666667vw;
  font-weight: 700;
  line-height: 2.1875vw;
}

.container {
  max-width: 90vw;
  margin-inline: auto;
}

.container-1360 {
  max-width: 70.8333333333vw;
  margin-inline: auto;
}

.container-1540 {
  max-width: 80.2083333333vw;
  margin-inline: auto;
}

a, button, img {
  text-decoration: none;
  display: block;
  color: #0A0E20;
}

a, button {
  cursor: pointer;
}

.a-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.a-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 0.1041666667vw solid #0A0E20;
}
.a-link:hover {
  transition: 0.2s all;
  color: #F80505;
}
.a-link:hover::after {
  transition: 0.2s all;
  border-bottom: 0.1041666667vw solid #FFBBBB;
}

ul, ol, li {
  text-decoration: none;
  list-style: none;
}

.btn {
  cursor: pointer;
  transition: 0.2s all;
  background: #F80505;
  border-radius: 5.2083333333vw;
  border: 0.0520833333vw solid #ffffff;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 1.5625vw 2.6041666667vw;
}
.btn:hover {
  background: #ffffff;
  border: 0.0520833333vw solid #F80505;
  border-radius: 5.2083333333vw;
}

.btn-light {
  background: none;
  border: 1px solid #FFBBBB;
  text-transform: none;
  color: #F80505;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.3020833333vw;
  padding: 1.0416666667vw 1.6145833333vw 0.9895833333vw 2.96875vw;
}
.btn-light:hover {
  background: #FFBBBB;
  border-radius: 5.2083333333vw;
  border: 0.0520833333vw solid #FFBBBB;
}

.header {
  z-index: 100;
  background-color: transparent;
  padding: 1.5625vw 3.4895833333vw 1.5625vw 4.0625vw;
  display: flex;
  align-items: center;
  gap: 1.3020833333vw;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-link {
  flex: 1;
}
.header-logo__images {
  display: flex;
  gap: 1.0416666667vw;
  align-items: baseline;
}
.header-logo__images img:first-child {
  width: 5.8854166667vw;
}
.header-logo__images img:last-child {
  width: 10.6770833333vw;
}
.header-logo__text {
  font-weight: 400;
  font-size: 0.7291666667vw;
  line-height: 0.78125vw;
  color: #30A23C;
}
.header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.78125vw;
}
.header-info__tel-link {
  padding-block: 0.5208333333vw;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.3020833333vw;
  color: #0A0E20;
}
.header-info__telegram {
  width: 1.9791666667vw;
}
.header-info__telegram-link svg {
  display: block;
  width: 100%;
}
.header-info__callback {
  cursor: pointer;
}
.header-info__callback-text {
  padding-block: 1.0416666667vw;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 100%;
  text-align: center;
  color: #5A5B63;
  transition: 0.2s;
}
.header-info__callback-text:hover {
  color: #30A23C;
}
.header-info__buy {
  padding-left: 1.3020833333vw;
}
.header-info__buy-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: 13.90625vw;
  height: 2.9166666667vw;
  background: #F80505;
  border-radius: 5.2083333333vw;
  border: none;
}
.header-cart__btn {
  cursor: pointer;
  width: 5.9895833333vw;
  height: 2.9166666667vw;
  background-color: transparent;
  border: 0.0520833333vw solid #30A23C;
  border-radius: 5.2083333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5208333333vw;
}
.header-cart__btn svg {
  width: 1.09375vw;
}
.header-cart__btn span {
  font-weight: 400;
  font-size: 0.6770833333vw;
  line-height: 100%;
  text-align: center;
  color: #30A23C;
}
.header-cart__btn i {
  font-style: normal;
  font-weight: 700;
}
.header-language {
  display: flex;
  gap: 0.2604166667vw;
}
.header-language__text {
  font-weight: 700;
  font-size: 0.7291666667vw;
  line-height: 0.78125vw;
  color: #0A0E20;
}
.header-box {
  padding: 0.5208333333vw;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5208333333vw;
  cursor: pointer;
}
.header__language-list {
  padding: 0.5208333333vw;
  display: none;
  position: absolute;
  top: 2.6041666667vw;
  right: 0;
  left: 0;
}
.header-menu {
  padding-left: 1.3020833333vw;
}
.header-menu__btn {
  cursor: pointer;
  width: 4.4791666667vw;
  height: 2.6041666667vw;
  background: #1377ED;
  border-radius: 5.2083333333vw;
  border: none;
  font-weight: 700;
  font-size: 0.625vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.block {
  display: block;
}

.arrow {
  transition: 0.2s;
  width: 0.4166666667vw;
}

.rotate {
  transform: rotateZ(-90deg);
}
.rotate path {
  fill: #30A23C;
}

.general {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(343.87deg, rgba(45, 50, 44, 0.3) 14.59%, rgba(26, 138, 241, 0) 86.71%), url("../images/main.png");
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position: center, center;
  display: flex;
}
.general-wrapper {
  flex-basis: 100%;
  position: relative;
  background-image: url("../images/butl.png");
  background-size: 41.6666666667vw 33.3333333333vw;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.general-wrapper__price {
  position: absolute;
  bottom: 21.875vw;
  left: 8.8541666667vw;
  padding: 1.8229166667vw 1.5625vw 1.8229166667vw;
  width: 7.5520833333vw;
  height: 7.5520833333vw;
  transform: rotateZ(-11deg);
  color: #ffffff;
  background-color: #F80505;
  border-radius: 50%;
}
.general-wrapper__price p {
  line-height: 1.25vw;
  color: #ffffff;
  display: block;
  font-size: 1.0416666667vw;
}
.general-wrapper__price p i {
  font-weight: 700;
  font-size: 1.5625vw;
  text-align: center;
  font-style: normal;
}
.general-wrapper__info {
  margin-top: 18.8541666667vw;
  margin-left: 42.96875vw;
}
.general-wrapper__title {
  font-weight: 700;
  font-size: 2.8645833333vw;
  line-height: 3.0208333333vw;
  color: #F80505;
  max-width: 34.8958333333vw;
}
.general-wrapper__description {
  font-weight: 500;
  font-size: 1.875vw;
  line-height: 1.9791666667vw;
  color: #0A0E20;
}
.general-wrapper__btn {
  background: #F80505;
  border-radius: 5.2083333333vw;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  padding: 1.5625vw 2.6041666667vw;
  margin-top: 3.3854166667vw;
}

.benefits {
  padding-top: 7.2395833333vw;
  padding-bottom: 7.2395833333vw;
}
.benefits-content {
  position: relative;
  background-color: #F2F9FF;
  border-radius: 1.5625vw;
  height: 33.9583333333vw;
  display: flex;
  align-items: center;
}
.benefits-content__img {
  width: 22.65625vw;
  margin-left: 1.6666666667vw;
  margin-right: 6.6145833333vw;
}
.benefits-content__img img {
  display: block;
  width: 100%;
}
.benefits-content__text {
  width: 36.5625vw;
}
.benefits-content__text div {
  width: 15.9375vw;
  padding-bottom: 2.1875vw;
}
.benefits-content__text div img {
  width: 100%;
}
.benefits-content__text p {
  padding-bottom: 1.4583333333vw;
  line-height: 1.3541666667vw;
}
.benefits-content__text .accent {
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.875vw;
}
.benefits-content__text a {
  font-weight: 700;
}
.benefits-content__btn {
  position: absolute;
  top: 2.9166666667vw;
  right: 4.2708333333vw;
  display: flex;
}
.benefits-content__btn .btn {
  position: relative;
  display: flex;
  align-items: center;
}
.benefits-content__btn .btn::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 0.8333333333vw;
  width: 0.625vw;
  left: 1.5104166667vw;
  background: url("../../../../assets/images/arrow_red.png") no-repeat;
  background-size: cover;
}
.benefits-carts {
  bottom: 0;
  height: 7.5vw;
  margin-left: 2.8645833333vw;
  margin-right: 2.8645833333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: vw(24);
  font-weight: 700;
  line-height: 1.325vw;
}
.benefits-carts__item {
  z-index: 1;
  height: 100%;
  width: 17.5520833333vw;
  background: #ffffff;
  border: 1px solid #D8E4EE;
  border-radius: 1.5625vw;
  padding-right: 0.6770833333vw;
  margin-top: -7.8125vw;
  display: flex;
  align-items: center;
  justify-content: end;
}
.benefits-carts__item p {
  position: relative;
  display: flex;
  width: 10.4166666667vw;
  height: 3.90625vw;
  align-items: center;
}
.benefits-carts__item p::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 3.4015625vw;
  width: 3.4015625vw;
  left: -4.4270833333vw;
  background: url("../../../../assets/images/01_benefits.svg") no-repeat;
  background-size: cover;
  padding-right: 1.3020833333vw;
}
.benefits-carts__item .item2::before {
  background: url("../../../../assets/images/02_benefits.svg") no-repeat;
  background-size: cover;
  height: 3.690625vw;
  width: 2.4145833333vw;
  left: -3.3854166667vw;
}
.benefits-carts__item .item3::before {
  background: url("../../../../assets/images/03_benefits.svg") no-repeat;
  background-size: cover;
  height: 3.3697916667vw;
  width: 3.4338541667vw;
}
.benefits-carts__item .item4::before {
  background: url("../../../../assets/images/04_benefits.svg") no-repeat;
  background-size: cover;
  height: 2.2005208333vw;
  width: 4.1078125vw;
  left: -5.2083333333vw;
}

.goods {
  padding-bottom: 6.8229166667vw;
}
.goods-content {
  position: relative;
  margin-left: 9.53125vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.goods-content__text {
  width: 39.3229166667vw;
  text-align: left;
  padding-bottom: 1.9791666667vw;
}
.goods-content__text h2 {
  padding-bottom: 2.6041666667vw;
}
.goods-content__text p {
  width: 100%;
}
.goods-content__btn {
  position: absolute;
  top: 0;
  right: 4.2708333333vw;
  display: flex;
}
.goods-content__btn .btn {
  position: relative;
  display: flex;
  align-items: center;
}
.goods-content__btn .btn::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 1.5166666667vw;
  width: 1.5166666667vw;
  left: 1.0416666667vw;
  background: url("../../../../assets/images/punkt.svg") no-repeat;
  background-size: cover;
}
.goods-carousel {
  width: 84.4270833333vw;
  height: 29.375vw;
  position: relative;
  margin: 0 auto;
}
.goods-carousel__item {
  width: 16.9791666667vw;
  height: 34.0625vw;
  padding: 2.1354166667vw 1.0416666667vw 1.1458333333vw 1.09375vw;
  background: #ffffff;
  border: 0.0520833333vw solid #D4D8EB;
  border-radius: 1.5625vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.3s;
}
.goods-carousel__item:hover {
  background: #F2F9FF;
  box-shadow: 0.7291666667vw 0.8854166667vw 2.03125vw rgba(216, 225, 236, 0.94);
  border-radius: 1.5625vw;
}
.goods-carousel__item .good-image {
  width: 9.0104166667vw;
  height: 13.6458333333vw;
  align-items: end;
  padding-bottom: 1.3020833333vw;
}
.goods-carousel__item .good-image img {
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 0.5208333333vw 0.5208333333vw 0 0;
}
.goods-carousel__item .good-title {
  display: block;
  font-size: 1.0416666667vw;
  font-weight: 700;
  line-height: 1.3541666667vw;
  text-align: left;
  padding-bottom: 0.8854166667vw;
}
.goods-carousel__item .good-counter-price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.8854166667vw;
}
.goods-carousel__item .btn {
  display: inline-block;
  background-color: #30A23C;
  width: 14.84375vw;
  height: 3.3333333333vw;
  border-radius: 5.2083333333vw;
  border: 0.0520833333vw solid #30A23C;
  font-size: 0.9375vw;
  font-weight: 700;
  line-height: 0.9375vw;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 1.1979166667vw 1.5625vw 1.1979166667vw 1.5104166667vw;
}

.carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1621px;
}

.carousel .owl-prev,
.carousel .owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 42px;
  height: 42px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel .owl-prev {
  left: -42px;
}

.carousel .owl-next {
  right: -42px;
}

/*# sourceMappingURL=index.css.map */
