@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.0416666667vw;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #0A0E20;
  overflow-x: hidden;
}
@media (max-width: 991.8px) {
  body {
    font-size: 1.5625vw;
  }
}
@media (max-width: 767.8px) {
  body {
    font-size: 1.5625vw;
  }
}
@media (max-width: 575.8px) {
  body {
    font-size: 1.875vw;
  }
}

.text-accent {
  font-size: 1.1979166667vw;
  font-weight: 700;
  line-height: 1.06;
}
@media (max-width: 991.8px) {
  .text-accent {
    font-size: 1.875vw;
  }
}
@media (max-width: 767.8px) {
  .text-accent {
    font-size: 1.875vw;
  }
}
@media (max-width: 575.8px) {
  .text-accent {
    font-size: 1.875vw;
  }
}

.text-little {
  font-size: 0.8333333333vw;
  line-height: 1.08;
}
@media (max-width: 991.8px) {
  .text-little {
    font-size: 1.25vw;
  }
}
@media (max-width: 767.8px) {
  .text-little {
    font-size: 1.25vw;
  }
}
@media (max-width: 575.8px) {
  .text-little {
    font-size: 1.5625vw;
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.05;
}
@media (max-width: 991.8px) {
  h2 {
    font-size: 3.75vw;
  }
}
@media (max-width: 767.8px) {
  h2 {
    font-size: 3.75vw;
  }
}
@media (max-width: 575.8px) {
  h2 {
    font-size: 4.375vw;
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.05;
}
@media (max-width: 991.8px) {
  h3 {
    font-size: 3.125vw;
  }
}
@media (max-width: 767.8px) {
  h3 {
    font-size: 3.125vw;
  }
}
@media (max-width: 575.8px) {
  h3 {
    font-size: 3.75vw;
  }
}

.container {
  max-width: 90vw;
  margin-inline: auto;
}

.container-1360 {
  max-width: 70.8333333333vw;
  margin-inline: auto;
}

.container-1540 {
  max-width: 80.2083333333vw;
  margin-inline: auto;
}

a, button, img {
  text-decoration: none;
  display: block;
  color: #0A0E20;
}

a, button {
  cursor: pointer;
}

.a-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.a-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 0.1041666667vw solid #0A0E20;
}
.a-link:hover {
  transition: 0.2s all;
  color: #F80505;
}
.a-link:hover::after {
  transition: 0.2s all;
  border-bottom: 0.1041666667vw solid #FFBBBB;
}

ul, ol, li {
  text-decoration: none;
  list-style: none;
}

.btn {
  cursor: pointer;
  transition: 0.2s all;
  background: #F80505;
  border-radius: 5.2083333333vw;
  border: 0.0520833333vw solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.0416666667vw;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  padding: 1.5625vw 2.6041666667vw;
}
@media (max-width: 991.8px) {
  .btn {
    font-size: 1.5625vw;
  }
}
@media (max-width: 767.8px) {
  .btn {
    font-size: 1.5625vw;
  }
}
@media (max-width: 575.8px) {
  .btn {
    font-size: 1.875vw;
  }
}
.btn:hover {
  background: #FFBBBB;
  color: #F80505;
  border: 0.0520833333vw solid #F80505;
  border-radius: 5.2083333333vw;
}

.btn-light {
  cursor: pointer;
  transition: 0.2s all;
  background: none;
  border-radius: 5.2083333333vw;
  border: 1px solid #FFBBBB;
  color: #F80505;
  text-transform: none;
  font-size: 1.1979166667vw;
  font-weight: 400;
  line-height: 1.04;
  padding: 1.0416666667vw 1.6145833333vw 0.9895833333vw 2.96875vw;
}
@media (max-width: 991.8px) {
  .btn-light {
    font-size: 1.875vw;
  }
}
@media (max-width: 767.8px) {
  .btn-light {
    font-size: 1.875vw;
  }
}
@media (max-width: 575.8px) {
  .btn-light {
    font-size: 1.875vw;
  }
}
.btn-light:hover {
  background: #FFBBBB;
  border-radius: 5.2083333333vw;
  border: 0.0520833333vw solid #FFBBBB;
}

/* Для веб-китовых браузеров, таких как Chrome, Safari и новых версий Opera */
::-webkit-scrollbar {
  width: 5px; /* Задаем ширину вертикального скролл-бара */
  height: 5px; /* Задаем высоту горизонтального скролл-бара */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Задаем цвет ползунка скролл-бара */
  border-radius: 2px; /* Задаем скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Задаем цвет ползунка при наведении курсора */
}

/* Для Firefox */
* {
  scrollbar-width: thin; /* Задаем тонкий скролл-бар */
  scrollbar-color: #888 #f0f0f0; /* Задаем цвет ползунка и цвет фона скролл-бара */
}

.header {
  z-index: 100;
  background-color: transparent;
  transition: 0.1s;
  padding: 1.5625vw 3.4895833333vw 1.5625vw 4.0625vw;
  display: flex;
  align-items: center;
  gap: 1.3020833333vw;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-link {
  flex: 1;
}
.header-logo__images {
  display: flex;
  gap: 1.0416666667vw;
  align-items: baseline;
}
.header-logo__images img:first-child {
  width: 5.8854166667vw;
}
.header-logo__images img:last-child {
  width: 10.6770833333vw;
}
.header-logo__text {
  font-weight: 400;
  font-size: 0.7291666667vw;
  line-height: 0.78125vw;
  color: #30A23C;
}
.header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.78125vw;
}
.header-info__tel-link {
  padding-block: 0.5208333333vw;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.3020833333vw;
  color: #0A0E20;
}
.header-info__telegram {
  width: 1.9791666667vw;
}
.header-info__telegram-link svg {
  display: block;
  width: 100%;
}
.header-info__callback {
  cursor: pointer;
}
.header-info__callback-text {
  padding-block: 1.0416666667vw;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 100%;
  text-align: center;
  color: #5A5B63;
  transition: 0.2s;
}
.header-info__callback-text:hover {
  color: #30A23C;
}
.header-info__buy {
  padding-left: 1.3020833333vw;
}
.header-info__buy-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: 13.90625vw;
  height: 2.9166666667vw;
  background: #F80505;
  border-radius: 5.2083333333vw;
  border: none;
}
.header-cart__btn {
  cursor: pointer;
  width: 5.9895833333vw;
  height: 2.9166666667vw;
  background-color: transparent;
  border: 0.0520833333vw solid #30A23C;
  border-radius: 5.2083333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5208333333vw;
}
.header-cart__btn svg {
  width: 1.09375vw;
}
.header-cart__btn span {
  font-weight: 400;
  font-size: 0.6770833333vw;
  line-height: 100%;
  text-align: center;
  color: #30A23C;
}
.header-cart__btn i {
  font-style: normal;
  font-weight: 700;
}
.header-language {
  display: flex;
  gap: 0.2604166667vw;
}
.header-language__text {
  font-weight: 700;
  font-size: 0.7291666667vw;
  line-height: 0.78125vw;
  color: #0A0E20;
}
.header-box {
  padding: 0.5208333333vw;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5208333333vw;
  cursor: pointer;
}
.header__language-list {
  padding: 0.5208333333vw;
  display: none;
  position: absolute;
  top: 2.0833333333vw;
  right: 0;
  left: 0;
}
.header-menu {
  padding-left: 1.3020833333vw;
}
.header-menu__btn {
  cursor: pointer;
  width: 4.4791666667vw;
  height: 2.6041666667vw;
  background: #1377ED;
  border-radius: 5.2083333333vw;
  border: none;
  font-weight: 700;
  font-size: 0.625vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.block {
  display: block;
}

.arrow {
  transition: 0.2s;
  width: 0.4166666667vw;
}

.rotate {
  transform: rotateZ(-90deg);
}
.rotate path {
  fill: #30A23C;
}

.bgcolor-white {
  background-color: #ffffff;
}

.delay {
  animation: delay 3s linear;
}

@keyframes delay {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.general {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(343.87deg, rgba(45, 50, 44, 0.3) 14.59%, rgba(26, 138, 241, 0) 86.71%), url("../images/main.png");
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position: center, center;
  display: flex;
}
.general-wrapper {
  flex-basis: 100%;
  position: relative;
  background-image: url("../images/butl.png");
  background-size: 41.6666666667vw 33.3333333333vw;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.general-wrapper__price {
  position: absolute;
  bottom: 21.875vw;
  left: 8.8541666667vw;
  padding: 1.8229166667vw 1.5625vw 1.8229166667vw;
  width: 7.5520833333vw;
  height: 7.5520833333vw;
  transform: rotateZ(-11deg);
  color: #ffffff;
  background-color: #F80505;
  border-radius: 50%;
}
.general-wrapper__price p {
  line-height: 1.25vw;
  color: #ffffff;
  display: block;
  font-size: 1.0416666667vw;
}
.general-wrapper__price p i {
  font-weight: 700;
  font-size: 1.5625vw;
  text-align: center;
  font-style: normal;
}
.general-wrapper__info {
  position: relative;
  margin-top: 18.8541666667vw;
  margin-left: 42.96875vw;
}
.general-wrapper__title {
  font-weight: 700;
  font-size: 2.8645833333vw;
  line-height: 3.0208333333vw;
  color: #F80505;
  max-width: 34.8958333333vw;
}
.general-wrapper__description {
  font-weight: 500;
  font-size: 1.875vw;
  line-height: 1.9791666667vw;
  color: #0A0E20;
}
.general-wrapper__btn {
  background: #F80505;
  border-radius: 5.2083333333vw;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  padding: 1.5625vw 2.6041666667vw;
  margin-top: 3.3854166667vw;
}

.circle-text {
  width: 11.6666666667vw;
  height: 11.6666666667vw;
  position: absolute;
  top: -6.7708333333vw;
  left: -2.6041666667vw;
}
.circle-text img {
  width: 100%;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
.sale {
  height: 5.9375vw;
  background-color: #F80505;
  overflow: hidden;
  position: sticky;
  top: 5.9895833333vw;
  right: 0;
  left: 0;
  z-index: 999;
}
.sale-wrapper {
  height: 5.9375vw;
  background-color: #F80505;
  display: flex;
  align-items: center;
  gap: 1.5625vw;
  width: 100%;
  padding-left: 1.0416666667vw;
  animation: scroll 15s linear infinite;
}
.sale-wrapper__description {
  font-size: 1.25vw;
  line-height: 110.3%;
  color: #ffffff;
  min-width: 18.2291666667vw;
}
.sale-wrapper__title {
  font-weight: 700;
  font-size: 3.3333333333vw;
  line-height: 3.3333333333vw;
  color: #ffffff;
  transform: rotate(-10deg);
}

@keyframes scroll {
  0% {
    transform: translateX(-31.25vw);
  }
  50% {
    transform: translateX(-10.4166666667vw);
  }
  100% {
    transform: translateX(-31.25vw);
  }
}
.benefits {
  padding-top: 7.2395833333vw;
  padding-bottom: 7.2395833333vw;
}
.benefits-content {
  position: relative;
  max-width: 80.2083333333vw;
  margin: auto;
  background-color: #F2F9FF;
  border-radius: 1.5625vw;
  height: 33.9583333333vw;
  display: flex;
  align-items: center;
}
@media (max-width: 991.8px) {
  .benefits-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 1.0416666667vw 0.5208333333vw;
  }
}
.benefits-content__img {
  order: 1;
  width: 22.65625vw;
  margin-left: 1.6666666667vw;
  margin-right: 6.6145833333vw;
}
@media (max-width: 991.8px) {
  .benefits-content__img {
    order: 3;
    margin: 0;
    padding: 0.5208333333vw 0.2604166667vw;
  }
}
@media (max-width: 767.8px) {
  .benefits-content__img {
    display: none;
  }
}
.benefits-content__img img {
  display: block;
  width: 100%;
}
.benefits-content__text {
  order: 2;
  width: 36.5625vw;
}
@media (max-width: 991.8px) {
  .benefits-content__text {
    order: 1;
    width: 80%;
    margin-inline: auto;
    padding-top: 3.125vw;
  }
}
.benefits-content__text div {
  width: 15.9375vw;
  padding-bottom: 2.1875vw;
}
.benefits-content__text div img {
  width: 100%;
}
.benefits-content__text .text-accent {
  line-height: 1.5;
}
.benefits-content__text p {
  padding-bottom: 1.4583333333vw;
  line-height: 1.3;
}
.benefits-content__text a {
  font-weight: 700;
}
.benefits-content__btn {
  order: 3;
  position: absolute;
  top: 2.9166666667vw;
  right: 4.2708333333vw;
  display: flex;
}
@media (max-width: 767.8px) {
  .benefits-content__btn {
    order: 2;
    position: initial;
    justify-content: center;
    padding-top: 1.0416666667vw;
    padding-bottom: 3.6458333333vw;
  }
}
.benefits-content__btn .btn {
  position: relative;
  display: flex;
  align-items: center;
}
.benefits-content__btn .btn::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 0.8333333333vw;
  width: 0.625vw;
  left: 1.5104166667vw;
  background: url("../../assets/images/arrow_red.png") no-repeat;
  background-size: cover;
}
.benefits-carts {
  max-width: 74.53125vw;
  margin: auto;
  height: 7.5vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.06;
}
@media (max-width: 991.8px) {
  .benefits-carts {
    width: 100%;
    height: 18.2291666667vw;
    box-sizing: border-box;
  }
}
.benefits-carts__item {
  z-index: 1;
  height: 7.5vw;
  width: 17.5520833333vw;
  background: #ffffff;
  border: 1px solid #D8E4EE;
  border-radius: 1.5625vw;
  padding-right: 0.6770833333vw;
  margin-top: -7.8125vw;
  display: flex;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}
@media (max-width: 991.8px) {
  .benefits-carts__item {
    width: 49%;
    justify-content: center;
  }
}
.benefits-carts__item p {
  position: relative;
  display: flex;
  width: 10.4166666667vw;
  height: 3.90625vw;
  align-items: center;
  margin: 1.8229166667vw 0.6770833333vw 1.7708333333vw 1.3020833333vw;
}
@media (max-width: 991.8px) {
  .benefits-carts__item p {
    width: auto;
  }
}
.benefits-carts__item p::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 3.4015625vw;
  width: 3.4015625vw;
  left: -4.4270833333vw;
  background: url("../../assets/images/01_benefits.svg") no-repeat;
  background-size: cover;
  padding-right: 1.3020833333vw;
}
.benefits-carts__item .item2::before {
  background: url("../../assets/images/02_benefits.svg") no-repeat;
  background-size: cover;
  height: 3.690625vw;
  width: 2.4145833333vw;
  left: -3.3854166667vw;
}
.benefits-carts__item .item3::before {
  background: url("../../assets/images/03_benefits.svg") no-repeat;
  background-size: cover;
  height: 3.3697916667vw;
  width: 3.4338541667vw;
}
.benefits-carts__item .item4::before {
  background: url("../../assets/images/04_benefits.svg") no-repeat;
  background-size: cover;
  height: 2.2005208333vw;
  width: 4.1078125vw;
  left: -5.2083333333vw;
}

.stages {
  padding-bottom: 8.3333333333vw;
}
@media (max-width: 991.8px) {
  .stages {
    padding-bottom: 10.4166666667vw;
  }
}
@media (max-width: 767.8px) {
  .stages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.stages-content {
  margin-left: 9.53125vw;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.stages-content__text {
  width: 57.2916666667vw;
  padding-bottom: 2.7083333333vw;
}
@media (max-width: 767.8px) {
  .stages-content__text {
    width: 100%;
    margin: 0.2604166667vw;
  }
}
.stages-content__text h2 {
  padding-bottom: 2.6041666667vw;
}
.stages-content__text h2 span {
  font-weight: 400;
  line-height: 1.27;
}
.stages-content__text p {
  width: 100%;
}
.stages-content__img-carousel-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991.8px) {
  .stages-content__img-carousel-wrapper {
    align-items: center;
  }
}
.stages-content__img-carousel-wrapper .stage-image {
  width: 8.3333333333vw;
  height: 21.6145833333vw;
  align-items: end;
}
.stages-content__img-carousel-wrapper .stage-image img {
  display: block;
  width: 100%;
}
.stages .stages-carousel {
  position: relative;
  max-width: 56.40625vw;
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}
.stages .stages-carousel__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 767.8px) {
  .stages .stages-carousel__item {
    padding: 3.125vw;
  }
}
.stages .stages-carousel .stage-text {
  position: relative;
  width: 38.6979166667vw;
  margin-top: 5.2083333333vw;
  margin-left: 6.9270833333vw;
  display: flex;
  flex-direction: column;
}
.stages .stages-carousel .stage-text .stage-title {
  position: relative;
  display: inline-block;
  justify-content: start;
  align-items: center;
  padding-bottom: 1.9270833333vw;
}
.stages .stages-carousel .stage-text .stage-title::before {
  z-index: -1;
  position: absolute;
  content: "3";
  color: #FFBBBB;
  top: -0.3em;
  left: -0.22em;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10.2604166667vw;
  text-align: left;
}
@media (max-width: 991.8px) {
  .stages .stages-carousel .stage-text .stage-title::before {
    font-size: 20.3125vw;
  }
}
@media (max-width: 767.8px) {
  .stages .stages-carousel .stage-text .stage-title::before {
    font-size: 20.3125vw;
  }
}
@media (max-width: 575.8px) {
  .stages .stages-carousel .stage-text .stage-title::before {
    font-size: 20.9375vw;
  }
}
.stages .stages-carousel .stage-text p {
  padding-bottom: 1.9270833333vw;
  display: inline-block;
}
.stages .owl-carousel .owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-left: 6.25vw;
  width: 27.65625vw;
  bottom: 0;
  left: 1.0416666667vw;
  right: 1.0416666667vw;
  z-index: 1;
}
@media (max-width: 991.8px) {
  .stages .owl-carousel .owl-nav {
    bottom: -3.125vw;
  }
}
@media (max-width: 767.8px) {
  .stages .owl-carousel .owl-nav {
    display: none;
  }
}
.stages .owl-carousel .owl-nav .owl-prev,
.stages .owl-carousel .owl-nav .owl-next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.stages .owl-carousel .owl-nav .owl-prev {
  width: 4.2708333333vw;
  height: 4.2708333333vw;
  content: url("../../assets/images/arrow_light.png");
}
.stages .owl-carousel .owl-nav .owl-prev:active {
  content: url("../../assets/images/arrow_active.png");
}
.stages .owl-carousel .owl-nav .owl-next {
  width: 4.2708333333vw;
  height: 4.2708333333vw;
  content: url("../../assets/images/arrow_light.png");
  transform: rotate(180deg);
}
.stages .owl-carousel .owl-nav .owl-next:active {
  content: url("../../assets/images/arrow_active.png");
}
.stages .owl-carousel .owl-dots {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6.25vw;
  left: 7.2916666667vw;
  bottom: 1.8229166667vw;
}
@media (max-width: 991.8px) {
  .stages .owl-carousel .owl-dots {
    bottom: -1.0416666667vw;
  }
}
@media (max-width: 767.8px) {
  .stages .owl-carousel .owl-dots {
    bottom: 0;
  }
}
.stages .owl-carousel .owl-dots .owl-dot {
  display: inline-block !important;
  justify-content: center;
  margin: 0 0.78125vw;
  width: 0.5208333333vw;
  height: 0.5208333333vw;
  border-radius: 50%;
  background-color: #FFBBBB;
}
.stages .owl-carousel .owl-dots .owl-dot.active {
  background-color: #F80505;
}

.goods {
  padding-bottom: 6.8229166667vw;
}
@media (max-width: 767.8px) {
  .goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.goods-content {
  position: relative;
  margin-left: 9.53125vw;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 767.8px) {
  .goods-content {
    width: 100%;
    flex-direction: column;
    margin: 0.2604166667vw;
    padding: 1.0416666667vw;
  }
}
.goods-content__text {
  width: 39.3229166667vw;
  text-align: left;
  padding-bottom: 1.9791666667vw;
}
@media (max-width: 767.8px) {
  .goods-content__text {
    width: 100%;
    margin: 0.2604166667vw;
  }
}
.goods-content__text h2 {
  padding-bottom: 2.6041666667vw;
}
.goods-content__text p {
  width: 100%;
}
.goods-content__btn {
  position: absolute;
  top: 0;
  right: 4.2708333333vw;
  display: flex;
}
@media (max-width: 767.8px) {
  .goods-content__btn {
    position: initial;
    padding: 1.0416666667vw;
  }
}
.goods-content__btn .btn {
  position: relative;
  display: flex;
  align-items: center;
}
.goods-content__btn .btn::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 1.5166666667vw;
  width: 1.5166666667vw;
  left: 1.0416666667vw;
  background: url("../../assets/images/punkt.svg") no-repeat;
  background-size: cover;
}
.goods-carousel {
  position: relative;
  max-width: 71.0416666667vw;
  margin-inline: auto;
  height: 29.375vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.8px) {
  .goods-carousel {
    max-width: 98%;
    margin: auto;
    height: auto;
  }
}
.goods-carousel__item {
  width: 16.9791666667vw;
  padding: 2.1354166667vw 1.0416666667vw 1.1458333333vw 1.09375vw;
  background: #ffffff;
  border: 0.0520833333vw solid #D4D8EB;
  border-radius: 1.5625vw;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.3s;
}
@media (max-width: 991.8px) {
  .goods-carousel__item {
    width: 100%;
    padding: 1.5625vw;
  }
}
@media (max-width: 767.8px) {
  .goods-carousel__item {
    width: initial;
    padding: 3.125vw;
  }
}
.goods-carousel__item:hover {
  background: #F2F9FF;
  box-shadow: 0.7291666667vw 0.8854166667vw 2.03125vw rgba(216, 225, 236, 0.94);
  border-radius: 1.5625vw;
}
.goods-carousel__item .good-image {
  width: 9.0104166667vw;
  height: 13.6458333333vw;
  margin-inline: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.3020833333vw;
  overflow: hidden;
}
@media (max-width: 767.8px) {
  .goods-carousel__item .good-image {
    width: initial;
    margin: auto;
    height: auto;
    padding-bottom: 3.125vw;
  }
}
.goods-carousel__item .good-image img {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 0.5208333333vw 0.5208333333vw 0 0;
}
.goods-carousel__item .good-title {
  display: block;
  font-size: 1.0416666667vw;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
  padding-bottom: 0.8854166667vw;
}
@media (max-width: 991.8px) {
  .goods-carousel__item .good-title {
    font-size: 1.875vw;
  }
}
@media (max-width: 767.8px) {
  .goods-carousel__item .good-title {
    font-size: 2.1875vw;
    text-align: center;
    padding-bottom: 3.125vw;
  }
}
@media (max-width: 575.8px) {
  .goods-carousel__item .good-title {
    font-size: 2.1875vw;
  }
}
.goods-carousel__item .good-counter-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8854166667vw;
}
@media (max-width: 767.8px) {
  .goods-carousel__item .good-counter-price-wrapper {
    justify-content: center;
    gap: 3.125vw;
    padding-bottom: 2.1875vw;
  }
}
.goods-carousel__item .good-counter-price-wrapper .good-counter {
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.78125vw 1.09375vw 0.78125vw 1.1979166667vw;
  background: #ffffff;
  border-color: #D4D8EB;
}
@media (max-width: 767.8px) {
  .goods-carousel__item .good-counter-price-wrapper .good-counter {
    width: initial;
  }
}
.goods-carousel__item .good-counter-price-wrapper .good-counter .counter-minus,
.goods-carousel__item .good-counter-price-wrapper .good-counter .counter-plus {
  display: block;
  height: 1.7708333333vw;
  width: 0.8333333333vw;
  color: #949CBE;
  text-align: center;
  border: none;
  background: none;
}
@media (max-width: 991.8px) {
  .goods-carousel__item .good-counter-price-wrapper .good-counter .counter-minus,
  .goods-carousel__item .good-counter-price-wrapper .good-counter .counter-plus {
    height: 1.7708333333vw;
    width: 0.8333333333vw;
  }
}
@media (max-width: 767.8px) {
  .goods-carousel__item .good-counter-price-wrapper .good-counter .counter-minus,
  .goods-carousel__item .good-counter-price-wrapper .good-counter .counter-plus {
    height: 1.7708333333vw;
    width: 0.8333333333vw;
  }
}
@media (max-width: 575.8px) {
  .goods-carousel__item .good-counter-price-wrapper .good-counter .counter-minus,
  .goods-carousel__item .good-counter-price-wrapper .good-counter .counter-plus {
    height: 1.875vw;
    width: 0.2604166667vw;
  }
}
.goods-carousel__item .good-counter-price-wrapper .good-counter .counter-minus:active,
.goods-carousel__item .good-counter-price-wrapper .good-counter .counter-plus:active {
  color: #D4D8EB;
}
.goods-carousel__item .good-counter-price-wrapper .good-counter .counter-input {
  font-size: 1.0416666667vw;
  display: block;
  width: 1.9270833333vw;
  height: 1.09375vw;
  color: #949CBE;
  text-align: center;
  border: none;
}
.goods-carousel__item .good-counter-price-wrapper .good-price {
  width: 25%;
  display: flex;
}
.goods-carousel__item .good-counter-price-wrapper .good-price p {
  font-weight: 500;
}
.goods-carousel__item .good-counter-price-wrapper .good-price p span {
  font-weight: 400;
}
.goods-carousel__item .btn {
  background-color: #30A23C;
  width: 100%;
  height: 100%;
  border-radius: 5.2083333333vw;
  border: 0.0520833333vw solid #30A23C;
  font-size: 0.78125vw;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 1.1979166667vw 1.5625vw 1.1979166667vw 1.5104166667vw;
}
.goods-carousel__item .btn:hover {
  background-color: rgba(48, 162, 60, 0.2);
  color: #30A23C;
}
@media (max-width: 991.8px) {
  .goods-carousel__item .btn {
    font-size: 1.25vw;
  }
}
@media (max-width: 767.8px) {
  .goods-carousel__item .btn {
    font-size: 1.25vw;
    width: 30%;
    height: auto;
    margin: auto;
  }
}
@media (max-width: 575.8px) {
  .goods-carousel__item .btn {
    font-size: 1.5625vw;
  }
}
.goods .goods-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.8px) {
  .goods .goods-carousel .owl-nav {
    display: none;
  }
}
.goods .goods-carousel .owl-prev,
.goods .goods-carousel .owl-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.goods .goods-carousel .owl-prev {
  left: -5.2083333333vw;
  top: 30%;
  width: 4.2708333333vw;
  height: 4.2708333333vw;
  content: url("../../assets/images/arrow_light1.png");
}
.goods .goods-carousel .owl-prev:active {
  content: url("../../assets/images/arrow_active1.png");
}
.goods .goods-carousel .owl-next {
  right: -5.2083333333vw;
  top: 30%;
  width: 4.2708333333vw;
  height: 4.2708333333vw;
  content: url("../../assets/images/arrow_light1.png");
  transform: rotate(180deg);
}
.goods .goods-carousel .owl-next:active {
  content: url("../../assets/images/arrow_active1.png");
}

.point {
  padding-bottom: 4.84375vw;
}
.point__title {
  max-width: 33.8541666667vw;
  font-weight: 700;
  font-size: 2.0833333333vw;
  line-height: 2.1875vw;
  color: #F80505;
  padding-bottom: 2.9166666667vw;
  margin-left: 29.6875vw;
}
.point-info {
  padding: 2.0833333333vw;
  margin-left: 27.6041666667vw;
}
.point-wrapper {
  background: #F2F9FF;
  border-radius: 1.5625vw;
  display: flex;
  gap: 1.0416666667vw;
  position: relative;
}
.point-img {
  width: 22.3958333333vw;
  height: 19.53125vw;
  top: -9.1145833333vw;
  left: 1.0416666667vw;
  position: absolute;
}
.point-img img {
  width: 100%;
}
.point-text {
  display: flex;
  gap: 1.5625vw;
}
.point-text__wrapper {
  display: flex;
  gap: 1.0416666667vw;
}
.point-text__num {
  border: 0.0520833333vw solid rgba(48, 162, 60, 0.2);
  width: 4.2708333333vw;
  height: 4.2708333333vw;
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 150%;
  color: #30A23C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point-text__description {
  max-width: 13.0208333333vw;
  font-size: 0.8333333333vw;
  line-height: 130%;
  color: #0A0E20;
  padding-top: 1.0416666667vw;
}
.point-btns {
  padding-top: 1.9791666667vw;
  display: flex;
  gap: 1.5625vw;
  align-items: center;
}
.point-btns__btn {
  color: #ffffff;
  font-size: 0.9375vw;
  background-color: #30A23C;
  transition: 0.2s;
}
.point-btns__btn:hover {
  background-color: #8edd96;
  border: 0.0520833333vw solid #30A23C;
}
.point-btns__text {
  font-size: 0.8333333333vw;
  line-height: 130%;
  color: #0A0E20;
}

.order {
  display: flex;
  align-items: center;
  gap: 5.2083333333vw;
  width: 100%;
  border: 1px solid #949CBE;
  border-radius: 30px;
}
.order__img {
  width: 21.3541666667vw;
  border-top-left-radius: 1.5625vw;
  border-bottom-left-radius: 1.5625vw;
  overflow: hidden;
  height: 22.96875vw;
}
.order__img img {
  width: 100%;
  height: 100%;
}
.order-info {
  padding-top: 4.1666666667vw;
  padding-right: 2.6041666667vw;
  flex: 1;
}
.order-info__title {
  font-weight: 700;
  font-size: 2.0833333333vw;
  line-height: 2.1875vw;
  color: #F80505;
  padding-bottom: 1.5104166667vw;
}
.order-info__description {
  line-height: 150%;
  color: #0A0E20;
}
.order-form button {
  flex: 1;
  width: 15.5208333333vw;
}
.order-form button:hover {
  color: #ffffff;
  background-color: #fd9999;
}
.order-form__wrapper {
  padding-top: 2.6041666667vw;
  padding-bottom: 1.8229166667vw;
  display: flex;
  gap: 1.0416666667vw;
  justify-content: space-between;
  margin-left: -23.4375vw;
}
.order-form__wrapper input {
  padding: 1.4583333333vw 2.6041666667vw;
  line-height: 1.09375vw;
  color: #0A0E20;
  background: #ffffff;
  border: 0.0520833333vw solid #D4D8EB;
  border-radius: 1.5625vw;
}
.order-form__label-wrapper {
  display: flex;
  align-items: baseline;
  gap: 0.3645833333vw;
}
.order-form label {
  flex: 1;
  display: block;
  font-size: 0.8333333333vw;
  line-height: 0.8854166667vw;
  color: #0A0E20;
  max-width: 27.0833333333vw;
}
.order__input-name {
  width: 23.4375vw;
  flex: 1;
}
.order__input-tel {
  width: 27.0833333333vw;
  flex: 1.5;
}

.certificates {
  padding-bottom: 10vw;
}
@media (max-width: 767.8px) {
  .certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.certificates-content {
  margin-left: 9.53125vw;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.certificates-content__text {
  width: 57.2916666667vw;
  padding-bottom: 2.8125vw;
}
@media (max-width: 767.8px) {
  .certificates-content__text {
    width: 100%;
    margin: 0.2604166667vw;
  }
}
.certificates-content__text h2 {
  padding-bottom: 2.2395833333vw;
}
.certificates-content__text p {
  width: 100%;
}
.certificates-carousel {
  position: relative;
  max-width: 71.0416666667vw;
  margin-inline: auto;
  height: 29.375vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767.8px) {
  .certificates-carousel {
    max-width: 98%;
    margin: auto;
    height: auto;
  }
}
.certificates-carousel__item {
  width: 13.0208333333vw;
  height: 23.4375vw;
  text-align: left;
  padding: 0.5208333333vw;
  background: #ffffff;
  border: none;
  box-shadow: 0;
  transition: box-shadow 0.3s;
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 991.8px) {
  .certificates-carousel__item {
    width: 100%;
    margin: 0;
    height: auto;
    padding: 0.625vw;
  }
}
@media (max-width: 767.8px) {
  .certificates-carousel__item {
    padding: 3.125vw;
  }
}
.certificates-carousel__item:hover {
  box-shadow: 0.3645833333vw 0.4166666667vw 0.78125vw rgba(216, 225, 236, 0.94);
}
.certificates-carousel__item .certificate-image {
  width: 11.40625vw;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: 1.3541666667vw;
  margin-bottom: 1.1979166667vw;
}
@media (max-width: 767.8px) {
  .certificates-carousel__item .certificate-image {
    max-width: 100%;
    margin: 3.125vw;
    height: auto;
    padding-bottom: 3.125vw;
  }
}
.certificates-carousel__item .certificate-image img {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: start;
}
.certificates-carousel__item a {
  font-weight: 700;
}
.certificates .certificates-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.8px) {
  .certificates .certificates-carousel .owl-nav {
    display: none;
  }
}
.certificates .certificates-carousel .owl-prev,
.certificates .certificates-carousel .owl-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.certificates .certificates-carousel .owl-prev {
  left: -5.2083333333vw;
  top: 30%;
  width: 4.2708333333vw;
  height: 4.2708333333vw;
  content: url("../../assets/images/arrow_light.png");
}
.certificates .certificates-carousel .owl-prev:active {
  content: url("../../assets/images/arrow_active.png");
}
.certificates .certificates-carousel .owl-next {
  right: -5.2083333333vw;
  top: 30%;
  width: 4.2708333333vw;
  height: 4.2708333333vw;
  content: url("../../assets/images/arrow_light.png");
  transform: rotate(180deg);
}
.certificates .certificates-carousel .owl-next:active {
  content: url("../../assets/images/arrow_active.png");
}

.new {
  position: relative;
  margin-block: 9.8958333333vw;
  background: linear-gradient(95.83deg, #F80505 70.77%, #1377ED 83.73%);
  border-radius: 1.5625vw;
  height: 16.3541666667vw;
}
.new-info {
  max-width: 23.4375vw;
  margin-inline: auto;
}
.new-info__header {
  padding-top: 2.0833333333vw;
  font-size: 0.8333333333vw;
  line-height: 0.9895833333vw;
  color: #ffffff;
}
.new-info__title {
  padding-top: 3.125vw;
  padding-bottom: 1.5625vw;
  font-weight: 700;
  font-size: 2.0833333333vw;
  line-height: 2.5520833333vw;
  color: #ffffff;
}
.new-info__description {
  line-height: 1.4583333333vw;
  color: #ffffff;
}
.new img {
  position: absolute;
}
.new-img__1 {
  bottom: 0;
  left: 1.5625vw;
  width: 6.1458333333vw;
  height: 12.2395833333vw;
}
.new-img__2 {
  width: 20.8333333333vw;
  height: 20.8333333333vw;
  bottom: -1.3020833333vw;
  left: 2.0833333333vw;
  transform: rotateZ(358deg);
}
.new-img__3 {
  width: 3.0729166667vw;
  height: 2.8125vw;
  bottom: 3.125vw;
  left: 19.2708333333vw;
}
.new-img__4 {
  width: 20.8333333333vw;
  height: 20.8333333333vw;
  bottom: -4.1666666667vw;
  right: 8.8541666667vw;
}
.new-img__5 {
  width: 9.375vw;
  height: 12.2395833333vw;
  bottom: 0;
  right: 20.3125vw;
}
.new-img__6 {
  width: 25vw;
  height: 31.25vw;
  top: -5.2083333333vw;
  right: -7.2916666667vw;
}
.new-img__7 {
  width: 20.8333333333vw;
  height: 20.8333333333vw;
  bottom: -1.0416666667vw;
  right: 3.125vw;
  transform: rotateZ(16deg);
}

.contacts .container-1540 {
  padding: 3.9583333333vw 2.2916666667vw 4.5833333333vw;
  border-radius: 1.5625vw 1.5625vw 0 0;
  background-color: #F2F9FF;
}
.contacts-content {
  margin-left: 9.53125vw;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.contacts-content__text {
  width: 37.65625vw;
  padding-bottom: 1.71875vw;
}
.contacts-content__text h2 {
  padding-bottom: 2.1875vw;
}
.contacts-content__text p {
  width: 100%;
}
.contacts-info {
  display: flex;
  justify-content: space-between;
}
.contacts-info__map {
  display: flex;
  flex-basis: calc(40% - 60px);
  align-items: start;
  padding-right: 3.125vw;
}
.contacts-info__address, .contacts-info__time {
  display: flex;
  flex-basis: calc(60% - 143px);
  flex-direction: column;
  align-items: flex-start;
}
.contacts-info__address-title, .contacts-info__time-title {
  position: relative;
  margin-top: 1.0416666667vw;
  padding-top: 3.6458333333vw;
}
.contacts-info__address-title::before, .contacts-info__time-title::before {
  position: absolute;
  content: "";
  overflow: hidden;
  width: 1.3020833333vw;
  height: 1.9609375vw;
  top: 30%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../../assets/images/map_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts-info__address-title {
  padding-bottom: 0.7109375vw;
}
.contacts-info__address .contact-info__map-link {
  padding-bottom: 2.34375vw;
  color: #0879E0;
}
.contacts-info__address .contact-info__map-link::after {
  bottom: 2.0833333333vw;
  border-bottom: 0.0520833333vw solid #0879E0;
}
.contacts-info__address .contact-info__map-link:hover {
  transition: 0.2s all;
  color: #F80505;
}
.contacts-info__address .contact-info__map-link:hover::after {
  transition: 0.2s all;
  border-bottom: 0.0520833333vw solid #F80505;
}
.contacts-info__address .contact-info__tel {
  padding-bottom: 1.09375vw;
}
.contacts-info__time-title {
  padding-bottom: 0.1041666667vw;
}
.contacts-info__time-title::before {
  content: "";
  width: 1.71875vw;
  height: 2.0625vw;
  top: 40%;
  background-image: url("../../assets/images/time_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.order-contact {
  padding-bottom: 7.1875vw;
}
.order-contact .container-1540 {
  padding: 3.3333333333vw 6.7708333333vw 2.4479166667vw 2.2916666667vw;
  border-radius: 0 0 1.5625vw 1.5625vw;
  background-color: #D8E8F8;
}
.order-contact-content {
  position: relative;
  justify-content: start;
  align-items: center;
}
.order-contact-content .order-contact-title {
  position: absolute;
  top: 0;
  margin-top: 0.5208333333vw;
  padding-left: 11.6666666667vw;
}
.order-contact #order-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.order-contact #order-contact-form .delivery-options-col {
  padding-right: 5.6770833333vw;
  margin-bottom: 3.9583333333vw;
  margin-top: 1.25vw;
}
.order-contact #order-contact-form .delivery-options-col .delivery-options {
  width: 18.6979166667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-contact #order-contact-form .checkbox-label {
  display: block;
  font-weight: 400;
}
.order-contact #order-contact-form .date-input {
  position: relative;
}
.order-contact #order-contact-form .calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  /* Стили для иконки календаря */
}
.order-contact #order-contact-form .down-arrow-icon {
  /* Стили для иконки стрелки вниз */
}
.order-contact #order-contact-form .form-section {
  display: flex;
  flex-direction: column;
}
.order-contact #order-contact-form .form-section input,
.order-contact #order-contact-form .form-section textarea,
.order-contact #order-contact-form .form-section select {
  width: 23.28125vw;
  background: #ffffff;
  border: 0.0520833333vw solid #D4D8EB;
  border-radius: 1.5625vw;
  padding: 1.4583333333vw 1.4583333333vw 1.40625vw 2.03125vw;
  margin-bottom: 1.40625vw;
}
.order-contact #order-contact-form .form-section input {
  margin-right: 0.625vw;
}
.order-contact #order-contact-form .form-section .form-col {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.order-contact #order-contact-form .form-section .form-row {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.40625vw;
}
.order-contact #order-contact-form .form-section .text-area-row {
  box-sizing: content-box;
}
.order-contact #order-contact-form .form-section .text-area-row textarea {
  height: 10.15625vw;
  resize: none;
  overflow-y: scroll;
  padding: 1.4583333333vw 1.4583333333vw 1.40625vw 2.03125vw;
}
.order-contact #order-contact-form .form-section .checkbox-btn-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4.1666666667vw;
}
.order-contact #order-contact-form .form-section .checkbox-btn-col .checkbox-row {
  width: 30.2083333333vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.order-contact #order-contact-form .form-section .checkbox-btn-col .checkbox-row input {
  width: auto;
  line-height: 1.05;
  padding: 0;
  margin: 0 0.5208333333vw 0 0;
}

.facts {
  padding-bottom: 7.1875vw;
}
@media (max-width: 767.8px) {
  .facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.facts-content {
  margin-left: 9.53125vw;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.facts-content__text {
  width: 57.2916666667vw;
}
@media (max-width: 767.8px) {
  .facts-content__text {
    width: 100%;
    margin: 0.2604166667vw;
  }
}
.facts-content__text h2 {
  padding-bottom: 5.3645833333vw;
}
.facts-carousel {
  position: relative;
  width: 100%;
  margin-left: 9.53125vw;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 767.8px) {
  .facts-carousel {
    max-width: 98%;
    margin: auto;
    height: auto;
  }
}
.facts-carousel__item {
  width: 19.0625vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-bottom: 2.7083333333vw;
}
@media (max-width: 767.8px) {
  .facts-carousel__item {
    padding: 3.125vw;
  }
}
.facts-carousel__item .fact-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 1.8229166667vw;
}
.facts-carousel__item .fact-wrap img {
  display: block;
  width: 3.7760416667vw;
  height: 3.5302083333vw;
  padding-right: 1.3020833333vw;
}
.facts-carousel__item .fact-wrap h4 {
  display: block;
}
.facts-carousel__item p {
  display: block;
  width: 100%;
}
.facts .facts-carousel .owl-dots {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6.25vw;
  left: 7.2916666667vw;
  bottom: 1.8229166667vw;
}
@media (max-width: 991.8px) {
  .facts .facts-carousel .owl-dots {
    bottom: -1.0416666667vw;
  }
}
@media (max-width: 767.8px) {
  .facts .facts-carousel .owl-dots {
    bottom: 0;
  }
}
.facts .facts-carousel .owl-dots .owl-dot {
  display: inline-block !important;
  justify-content: center;
  margin: 0 0.78125vw;
  width: 0.5208333333vw;
  height: 0.5208333333vw;
  border-radius: 50%;
  background-color: #FFBBBB;
}
.facts .facts-carousel .owl-dots .owl-dot.active {
  background-color: #F80505;
}

.water {
  padding-bottom: 7.8645833333vw;
}
@media (max-width: 767.8px) {
  .water {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.water-content {
  margin-left: 9.53125vw;
  display: flex;
  text-align: start;
  flex-direction: column;
  width: 51.875vw;
}
.water-content h2,
.water-content p {
  padding-bottom: 1.09375vw;
}
.water-content p {
  line-height: 1.05;
}
.water-content a {
  color: #0879E0;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.water-content a:hover {
  color: #FFBBBB;
}

.modal {
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15vh;
  left: 25vw;
  width: 54.53125vw;
  height: 38.28125vw;
  background-color: #F2F9FF;
  box-shadow: 0.7291666667vw 0.8854166667vw 2.03125vw rgba(216, 225, 236, 0.94);
  border-radius: 1.5625vw;
  overflow: hidden;
  padding: 3.8020833333vw 3.5416666667vw 2.2395833333vw 3.6979166667vw;
}
.modal-content {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.modal-content .btn {
  width: 30%;
  border-radius: 5.2083333333vw;
  font-size: 0.78125vw;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 1.1979166667vw 1.5625vw 1.1979166667vw 1.5104166667vw;
}
@media (max-width: 991.8px) {
  .modal-content .btn {
    font-size: 1.25vw;
  }
}
@media (max-width: 767.8px) {
  .modal-content .btn {
    font-size: 1.25vw;
    width: 30%;
    height: auto;
    margin: auto;
  }
}
@media (max-width: 575.8px) {
  .modal-content .btn {
    font-size: 1.5625vw;
  }
}
.modal .close {
  color: #949CBE;
  float: right;
  font-size: 2.34375vw;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.1041666667vw;
  margin-right: 1.3020833333vw;
}
.modal .close:hover, .modal .close:focus {
  color: #0A0E20;
  text-decoration: none;
  cursor: pointer;
}

#modal-order-accepted .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modal-order-accepted .modal-content .modal-image {
  padding-bottom: 2.0135416667vw;
  width: 7.65625vw;
}
#modal-order-accepted .modal-content .modal-image img {
  display: block;
  width: 100%;
}
#modal-order-accepted .modal-content .modal-title {
  display: flex;
  flex-wrap: nowrap;
  color: #30A23C;
  padding-bottom: 1.8229166667vw;
}
#modal-order-accepted .modal-content p {
  line-height: 1.23;
  text-align: center;
}

#modal-item .modal-content .modal__wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}
#modal-item .modal-content .modal-image {
  width: 40%;
  max-width: 8.8020833333vw;
  height: 13.6458333333vw;
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 767.8px) {
  #modal-item .modal-content .modal-image {
    width: initial;
    margin: auto;
    height: auto;
    padding-bottom: 3.125vw;
  }
}
#modal-item .modal-content .modal-image img {
  display: block;
  width: 100%;
  text-align: center;
}
#modal-item .modal-content .modal-content__wrap {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-bottom: 1.5625vw;
}
#modal-item .modal-content .modal-content__wrap .modal-title {
  display: inline-block;
  width: 100%;
  padding-bottom: 1.3020833333vw;
}
#modal-item .modal-content .modal-content__wrap p {
  padding-bottom: 2.0833333333vw;
}
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.9375vw;
}
@media (max-width: 767.8px) {
  #modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper {
    justify-content: center;
    gap: 3.125vw;
    padding-bottom: 2.1875vw;
  }
}
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.78125vw 1.09375vw 0.78125vw 1.1979166667vw;
  background: #ffffff;
  border-color: #D4D8EB;
}
@media (max-width: 767.8px) {
  #modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter {
    width: initial;
  }
}
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-minus,
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-plus {
  display: block;
  height: 1.7708333333vw;
  width: 0.8333333333vw;
  color: #949CBE;
  text-align: center;
  border: none;
  background: none;
}
@media (max-width: 991.8px) {
  #modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-minus,
  #modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-plus {
    height: 1.7708333333vw;
    width: 0.8333333333vw;
  }
}
@media (max-width: 767.8px) {
  #modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-minus,
  #modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-plus {
    height: 1.7708333333vw;
    width: 0.8333333333vw;
  }
}
@media (max-width: 575.8px) {
  #modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-minus,
  #modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-plus {
    height: 1.875vw;
    width: 0.2604166667vw;
  }
}
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-minus:active,
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-plus:active {
  color: #D4D8EB;
}
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-counter .counter-input {
  font-size: 1.0416666667vw;
  display: block;
  width: 1.9270833333vw;
  height: 1.09375vw;
  color: #949CBE;
  text-align: center;
  border: none;
}
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-price {
  width: 25%;
  display: flex;
  align-items: center;
}
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-price p {
  font-weight: 500;
  padding: 0;
}
#modal-item .modal-content .modal-content__wrap .modal-counter-price-wrapper .modal-price p span {
  font-weight: 400;
}
#modal-item .modal-content .modal-content__wrap .btn {
  width: 60%;
}
#modal-item .modal-content__text-little {
  align-items: start;
}
#modal-item .modal-content__text-little p {
  display: block;
  width: 15.7291666667vw;
  font-weight: 700;
  color: red;
}

#modal-cart .modal-content {
  justify-content: start;
}
#modal-cart .modal-content .modal-title {
  display: block;
  padding-bottom: 2.3958333333vw;
}
#modal-cart .modal-content .text-little {
  display: block;
  font-size: 0.8854166667vw;
  color: #949CBE;
  padding-bottom: 1.1979166667vw;
}
#modal-cart .cart-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
}
#modal-cart .cart-items__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
}
#modal-cart .cart-items .cart-item {
  display: flex;
  height: 6.9791666667vw;
  justify-content: space-between;
  align-items: center;
  border-top: 0.0520833333vw solid #D4D8EB;
  border-bottom: 0.0520833333vw solid #D4D8EB;
}
#modal-cart .cart-items .cart-item__info {
  display: flex;
  justify-content: start;
  align-items: center;
}
#modal-cart .cart-items .cart-item__info .for-img {
  width: 3.1770833333vw;
  height: 4.9479166667vw;
  padding-right: 1.25vw;
}
#modal-cart .cart-items .cart-item__info .for-img img {
  display: block;
  width: 100%;
}
#modal-cart .cart-items .cart-item__info .icon {
  padding-right: 0.5729166667vw;
}
#modal-cart .cart-items .cart-item__info .cart-item__quantity {
  font-weight: 500;
  padding-right: 2.5vw;
}
#modal-cart .cart-items .cart-item__total-price {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
}
#modal-cart .cart-items .cart-item__total-price p {
  padding-right: 2.5984375vw;
}
#modal-cart .cart-items .cart-item__total-price button {
  margin-right: 0.5208333333vw;
  width: 0.8333333333vw;
  height: 0.9895833333vw;
  overflow: hidden;
  border: none;
}
#modal-cart .cart-items .cart-item__total-price button img {
  display: block;
  width: 100%;
}
#modal-cart .cart-items .cart-total {
  width: 30%;
  display: flex;
  justify-content: right;
  margin-right: 2.1354166667vw;
  margin-top: 1.6666666667vw;
}
#modal-cart .cart-items .cart-total p {
  padding-bottom: 4.1145833333vw;
  font-weight: 500;
}
#modal-cart .cart-items .cart-total p span {
  margin-left: 4.4270833333vw;
}
#modal-cart .cart-items .btn {
  margin-bottom: 1.8229166667vw;
}

#modal-contact .modal-content {
  justify-content: start;
  align-items: center;
}
#modal-contact .modal-content .modal-title {
  margin-bottom: 2.3958333333vw;
}
#modal-contact #contact-form {
  /* Дополнительные стили для размещения полей */
}
#modal-contact #contact-form input,
#modal-contact #contact-form textarea,
#modal-contact #contact-form select {
  background: #ffffff;
  border: 0.0520833333vw solid #D4D8EB;
  border-radius: 1.5625vw;
  padding: 1.4583333333vw 1.4583333333vw 1.40625vw 2.03125vw;
}
#modal-contact #contact-form .payment-amount,
#modal-contact #contact-form .delivery-options {
  margin-bottom: 2.2395833333vw;
}
#modal-contact #contact-form .form-row {
  margin-bottom: 0.625vw;
}
#modal-contact #contact-form .checkbox-label {
  display: block;
  font-weight: 400;
}
#modal-contact #contact-form .date-input {
  position: relative;
}
#modal-contact #contact-form .calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  /* Стили для иконки календаря */
}
#modal-contact #contact-form .down-arrow-icon {
  /* Стили для иконки стрелки вниз */
}
#modal-contact #contact-form .payment-amount,
#modal-contact #contact-form .delivery-options {
  display: flex;
  justify-content: space-between;
}
#modal-contact #contact-form .full-width-row {
  width: 100%;
}
#modal-contact #contact-form .textarea-row {
  width: 100%;
}
#modal-contact #contact-form .textarea-row textarea {
  height: 100px;
  overflow-y: auto;
  resize: none;
  width: 100%;
}
#modal-contact #contact-form .flex-between-row {
  display: flex;
  justify-content: space-between;
}
#modal-contact #contact-form .form-section .form-row {
  display: flex;
  justify-content: space-between;
}

.modal-menu {
  display: none;
  background-color: rgba(97, 173, 243, 0.7);
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-menu__wrapper {
  width: 22.8645833333vw;
  height: 100vh;
  background-color: #ffffff;
  margin-left: auto;
  opacity: 1;
  padding: 0.78125vw;
}
.modal-menu__close {
  width: 1.3541666667vw;
  margin-left: auto;
  cursor: pointer;
}
.modal-menu__close svg {
  width: 1.3541666667vw;
  height: 1.3541666667vw;
  display: block;
}

.visible {
  display: block;
}

/*# sourceMappingURL=index.css.map */
