@use "../../presets/index" as *;

.facts {
  padding-bottom: vw(138);

  @include lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: vp(130);
    @include sm {
      padding-bottom: vm(59);
    }
  }

  &-content {
    margin-left: vw(183);
    text-align: start;
    display: flex;
    flex-direction: column;

    @include lg {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }

    &__text {
      width: vw(1100);

      @include lg {
        width: 100%;
        margin: vp(5);
      }
      @include sm {
        margin: vm(5);
      }

      h2 {
        padding-bottom: vw(103);
        @include lg {
          padding-bottom: vp(50);
        }
        @include sm {
          padding-bottom: vm(29);
        }
      }
    }
  }

  &-carousel {
    z-index: 0;
    position: relative;
    max-width: vw(1304);
    margin-left: vw(183);
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include lg {
      max-width: 100%;
      margin: 0;
      height: auto;
      overflow-x: hidden;
      padding-bottom: vp(20);
    }
    @include sm {
      width: vm(528);
      padding-bottom: vm(10);
    }

    &__item {
      width: vw(366);
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding-bottom: vw(52);

      @include lg {
        width: 100%;
        padding: vp(10);
        margin: 0;
      }
      @include sm {
        margin: 0;
        padding: vm(10);
      }

      .fact-wrap {
        display: flex;
        height: 100%;
        justify-content: start;
        align-items: center;
        padding-bottom: vw(35);

        @include lg {
          padding-bottom: vp(35);
        }
        @include sm {
          height: vm(34);
          width: vm(140);
          padding-bottom: vm(19);
        }

        .for_img {
          width: vw(72.5);
          height: vw(67.78);
          padding-right: vw(25);

          @include lg {
            width: vp(72.5);
            height: vp(67.78);
          }
          @include sm {
            width: vm(28);
            height: vm(25);
          }
        }

        img {
          display: block;
          width: 100%;
        }

        h4 {
          display: block;
        }
      }

      p {
        display: block;
        width: 100%;
      }
    }
  }

  .owl-carousel {
    .owl-dots {
      display: flex;
      justify-content: start;
      margin-top: vw(20);
      width: vw(990);
      height: vw(4);
      background-color: $color-grey-border;
      border-radius: vw(30);

      @include lg() {
        height: vp(4);
        width: 100%;
        border-radius: vp(30);

      }

      @include sm {
        height: vm(3);
        border-radius: vm(30);
      }

      .disabled {
        display: flex;
        justify-content: start;
      }
    }

    .owl-dot {
      display: flex;
      cursor: pointer;
      margin: 0;
      height: vw(4);
      width: vw(330);
      justify-content: start;
      transition: 0.3s ease;
      background-color: $color-grey-border;
      border-radius: vw(30);

      @include lg {
        height: vp(4);
        width: 50%;
        border-radius: vp(30);
      }
      @include sm {
        height: vm(3);
        //width: vm(99);
        border-radius: vm(30);
      }
    }

    .owl-dot:last-child {
      margin-right: 0;
    }

    .owl-dot.active {
      background-color: $color-grey-increase;
    }
  }
}