@use "../../presets/index" as *;

.facts {
  padding-bottom: vw(138);

  @include lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-content {
    margin-left: vw(183);
    text-align: start;
    display: flex;
    flex-direction: column;

    &__text {
      width: vw(1100);
      //padding-bottom: vw(103);

      @include lg {
        width: 100%;
        margin: vw(5);
      }

      h2 {
        padding-bottom: vw(103);
      }
    }
  }

  &-carousel {
    position: relative;
    width: 100%;
    margin-left: vw(183);
    text-align: start;
    //margin-inline: auto;
    //height: vw(564);
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include lg {
      max-width: 98%;
      margin: auto;
      height: auto;
    }

    &__item {
      width: vw(366);
      //height: vw(252);
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding-bottom: vw(52);

      @include lg {
        padding: vm(10);
      }

      .fact-wrap {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-bottom: vw(35);

        img {
          display: block;
          width: vw(72.5);
          height: vw(67.78);
          padding-right: vw(25);
        }

        h4 {
          display: block;
        }
      }


      p {
        display: block;
        width: 100%;
      }
    }
  }


  .facts-carousel-dots .owl-dots {
    margin-left: vw(183);
    z-index: 1;
    //position: absolute;
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    //margin-left: 0;
    left: 0;
    bottom: vw(-55);

    @include lg() {
      //bottom: vp(-20);
      width: 100%;
      left: initial;
      margin-left: 0;
      bottom: vp(-30);
    }

    @include sm() {
      //bottom: 0;
    }

    .owl-dot {
      //display: inline-block !important;
      height: vw(4);
      width: vw(990);
      justify-content: start;
      align-items: end;
      margin: 0;
      background-color: $color-grey-border;
      transition: background-color 0.3s ease;

      @include lg {
        //width: 100%;
      }
      @include sm {

      }

      &.active {
        height: vw(4);
        width: vw(275);
        background-color: $color-grey-increase;
      }
    }
  }

  .facts-carousel-dots .owl-nav {
    display: none;
  }

}