@use "../../presets/index" as *;

.stages {
  padding-bottom: vw(160);

  @include lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: vp(90);
  }
  @include sm {
    padding-bottom: vm(73.85);
  }

  &-content {
    margin-left: vw(183);
    text-align: start;
    display: flex;
    flex-direction: column;

    @include lg {
      margin-left: 0;
      text-align: center;
    }

    &__text {
      width: vw(1100);
      padding-bottom: vw(52);

      @include lg {
        width: 100%;
        align-items: center;
        margin-inline: auto;
        padding-bottom: vp(27);
      }
      @include sm {
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: vm(27);
      }

      h2 {
        padding-bottom: vw(50);

        @include lg {
          text-align: center;
          padding-bottom: vp(20);
        }
        @include sm {
          padding-bottom: vm(20);
        }

        span {
          font-weight: 400;
          line-height: 1.27;
        }
      }

      p {
        width: 100%;
        @include lg {
          text-align: center;
        }
      }
    }

    &__img-carousel-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include lg {
        align-items: center;
        justify-content: center;
      }

      //.stage-image {
      //  order: 3;
      //  width: vw(160);
      //  height: vw(415);
      //  align-items: end;
      //
      //  @include lg {
      //    order: 2;
      //  }
      //
      //  img {
      //    display: block;
      //    width: 100%;
      //  }
      //}
    }
  }

  .stages-carousel {
    z-index: 0;
    position: relative;
    max-width: vw(1083);
    display: flex;
    margin-inline: 0;
    justify-content: space-between;
    align-items: center;

    @include lg {
      justify-content: center;
      max-width: vp(800);
    }
    @include sm {
      max-width: vm(335);
    }

    &__item {
      display: flex;
      justify-content: end;

      @include lg {
        justify-content: center;
        margin-inline: auto;
        padding: vp(10);
      }
      @include sm {
        padding: vm(10);
      }
    }

    .stage-text {
      position: relative;
      width: vw(743);
      height: vw(415);
      margin-top: vw(100);
      margin-left: vw(133);
      display: flex;
      flex-direction: column;

      @include lg {
        margin-left: 0;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: vp(100);

      }
      @include sm {
        width: 100%;
        margin-top: vm(50);

      }

      .stage-image {
        position: absolute;
        left: vw(-320);
        top: vm(-10);
        order: 3;
        width: vw(160);
        height: vw(415);
        align-items: end;

        @include lg {
          order: 2;
          position: initial;
          align-items: center;
          width: vp(160);
          height: vp(415);
        }
        @include sm {
          width: vm(81);
          height: vm(210);
        }

        img {
          display: block;
          width: 100%;
        }
      }

      .stage-title {
        order: 1;
        position: relative;
        display: inline-block;
        justify-content: start;
        align-items: center;
        padding-bottom: vw(37);

        @include lg {
          order: 1;
          width: vp(300);
        }
        @include sm {
          width: vm(228);
        }

        //&::before {
        //  z-index: -1;
        //  position: absolute;
        //  content: "3";
        //  color: $color-red-border;
        //  top: -0.3em;
        //  left: -0.22em;
        //  font-family: 'Josefin Sans', sans-serif;
        //  font-size: vw(197);
        //  text-align: left;
        //
        //  @include lg {
        //    font-size: vp(180);
        //    top: vp(-120);
        //    left: vp(105);
        //  }
        //  @include sm {
        //    font-size: vm(96);
        //    top: vm(-65);
        //    left: vm(80);
        //  }
        //}
      }
      .stage-description {
        z-index: -1;
        position: absolute;
        color: $color-red-border;
        top: -0.6em;
        left: -0.22em;
        font-family: 'Josefin Sans', sans-serif;
        font-size: vw(197);
        text-align: left;

        @include lg {
          font-size: vp(180);
          //top: vp(-120);
          //left: vp(105);
          top: vp(-170);
          left: 50%;
          transform: translate(-50%);
        }
        @include sm {
          font-size: vm(96);
          //top: vm(-65);
          //left: vm(80);
          top: vm(-90);
          left: 50%;
          transform: translate(-50%);
        }
      }

      p {
        order: 2;
        padding-bottom: vw(37);
        display: inline-block;

        @include lg {
          order: 3;
        }
      }
    }
  }

  .owl-carousel {
    .owl-nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      margin-left: vw(350);
      //width: vw(531);
      width: vw(770);
      bottom: 0;
      left: 0;
      z-index: 1;

      @include lg {
        margin-left: 0;
        width: 100%;
        top: vp(40);
      }

      .owl-prev,
      .owl-next {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      .owl-prev {
        width: vw(82);
        height: vw(82);
        content: url("../../assets/images/right.svg");
        transform: rotate(180deg);

        @include lg {
          width: vp(82);
          height: vp(82);
        }
        @include sm {
          width: vm(54);
          height: vm(54);
        }

        &:hover {
          content: url("../../assets/images/leftr.svg");
        }

        &:active {
          transform: scale(1.05) rotate(180deg);
        }
      }

      .owl-next {
        width: vw(82);
        height: vw(82);
        content: url("../../assets/images/right.svg");

        @include lg {
          width: vp(82);
          height: vp(82);
        }
        @include sm {
          width: vm(54);
          height: vm(54);
        }

        &:hover {
          content: url("../../assets/images/left.svg");
          transform: rotate(180deg);
        }
        &:active {
          transform: scale(1.05) rotate(180deg);
        }
      }
    }

    .owl-dots {
      z-index: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: vw(500);
      left: 0;
      bottom: vw(35);

      @include lg() {
        margin-left: 0;
        left: initial;
        bottom: vp(-30);
      }
      @include sm {
        bottom: vm(-30);

      }

      .owl-dot {
        display: inline-block !important;
        justify-content: center;
        margin: 0 vw(25);
        width: vw(10);
        height: vw(10);
        border-radius: 50%;
        background-color: $color-red-border;

        @include lg {
          width: vp(10);
          height: vp(10);
        }
        @include sm {
          width: vm(7);
          height: vm(7);
        }

        &.active {
          background-color: $color-red;
        }
      }
    }
  }
}