@use "../../presets/index" as *;

.stages {
  padding-bottom: vw(160);

  @include lg {
    padding-bottom: vm(74);
  }

  @include md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-content {
    margin-left: vw(183);
    text-align: start;
    display: flex;
    flex-direction: column;

    @include lg {
      margin-left: 0;
      text-align: center;
    }

    &__text {
      width: vw(1100);
      padding-bottom: vw(52);

      @include lg {
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: vm(27);
      }

      h2 {
        padding-bottom: vw(50);

        @include lg {
          padding-bottom: vm(20);
        }

        span {
          font-weight: 400;
          line-height: 1.27;
        }
      }

      p {
        width: 100%;
      }
    }

    &__img-carousel-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include lg {
      align-items: center;
    }

      .stage-image {
        width: vw(160);
        height: vw(415);
        align-items: end;

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .stages-carousel {
    position: relative;
    max-width: vw(1083);
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    //flex-direction: column;
    align-items: center;

    &__item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include md {
        padding: vm(10);
      }
    }

    .stage-text {
      position: relative;
      width: vw(743);
      margin-top: vw(100);
      margin-left: vw(133);
      display: flex;
      flex-direction: column;


      .stage-title {
        position: relative;
        display: inline-block;
        justify-content: start;
        align-items: center;
        padding-bottom: vw(37);

        &::before {
          z-index: -1;
          position: absolute;
          content: "3";
          color: $color-red-border;
          top: -0.3em;
          left: -0.22em;
          font-family: 'Josefin Sans', sans-serif;
          font-size: vw(197);
          text-align: left;

          @include lg {
            font-size: vm(65);
          }
          @include md {
            font-size: vm(65);
          }
          @include sm {
            font-size: vm(67);
          }
        }
      }

      p {
        padding-bottom: vw(37);
        display: inline-block;
      }
    }


  }

  .owl-carousel {
    .owl-nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      margin-left: vw(120);
      width: vw(531);
      bottom: 0;
      left: vw(20);
      right: vw(20);
      z-index: 1;

      @include lg {
        bottom: vw(-60);
      }
      @include md() {
        display: none;
      }

      .owl-prev,
      .owl-next {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      .owl-prev {
        width: vw(82);
        height: vw(82);
        content: url("../../assets/images/arrow_light.png");

        &:active {
          content: url("../../assets/images/arrow_active.png");
        }
      }

      .owl-next {
        width: vw(82);
        height: vw(82);
        content: url("../../assets/images/arrow_light.png");
        transform: rotate(180deg);

        &:active {
          content: url("../../assets/images/arrow_active.png");
        }
      }
    }

    .owl-dots {
      z-index: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: vw(120);
      left: vw(140);
      bottom: vw(35);

      @include lg() {
        bottom: vw(-20);
      }

      @include md() {
        bottom: 0;
      }

      .owl-dot{
        display: inline-block!important;
        justify-content: center;
        margin: 0 vw(15);
        //margin: 0 vw(40);
        width: vw(10);
        height: vw(10);
        border-radius: 50%;
        background-color: $color-red-border;

        &.active {
          background-color: $color-red;
        }
      }

    }
  }
}