@use "../../presets/index" as *;

footer {
  margin-bottom: vw(114);
  width: 100%;
  //height: vw(105);
  background-color: $color-red;
  padding: vw(31) vw(58) vw(31.15) vw(69);
  @include lg {
    padding-top: vm(15);
    margin-bottom: vp(114);
    padding-bottom: vm(24);
  }
  @include sm {
    margin-bottom: vm(57);
  }

  .container {
    max-width: vw(1728);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    font-size: vw(14);

    @include md {
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
    }

    .logo-wrap {
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
      align-items: center;

      @include lg {
        //width: vw(150);
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: vw(21);
      }

      .logo {
        padding-right: vw(30.45);

        @include md {
          padding-right: 0;
          padding-bottom: vw(8);
        }

        img {
          display: block;
          width: vw(130.55);
          height: vw(42.85);
          @include lg {
            width: vm(100);
            height: auto;
          }
        }
      }

      .text p {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include lg {
          font-size: vm(12);
          max-width: vm(170);
          white-space: normal;
          text-align: center;
        }
      }
    }

    .img-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      @include lg {
        gap: vm(8);
      }
    }

    .social-media,
    .payment,
    .attribution {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }

    .social-media,
    .payment {
      @include md {
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

    .social-media {
      @include lg {
        padding-top: vm(15);
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: vw(18);
      }

      p {
        padding-right: vw(20);

        @include lg {
          margin-top: vp(8);
          text-align: center;
          padding-right: 0;
          padding-bottom: vp(8);
          font-size: vm(12);
        }
        @include sm {
          font-size: vm(12);
          margin-top: vm(8);
        }
      }

      img {
        height: vw(20.44);
        width: auto;
        margin-right: vw(21);
        @include lg {
          height: vm(17);
        }
      }
    }

    .payment {
      @include lg {
        padding-top: vm(15);
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: vw(21);
      }

      p {
        padding-right: vw(18);
        @include lg {
          text-align: center;
          padding-right: 0;
          padding-bottom: vw(8.85);
          font-size: vm(12);
        }
      }

      img {
        height: vw(29);
        width: auto;
        margin-right: vw(12);
        @include lg {
          height: vm(15);
        }
      }
    }

    .attribution {
      @include lg {
        padding-top: vm(15);
      }
      p {
        padding-right: vw(5);
        @include lg {
          font-size: vm(12);
        }
      }

      a {
        color: $color-white;
        text-decoration: underline;
        text-underline-offset: vw(3);
        @include lg {
          font-size: vm(12);
        }
      }
    }
  }
}
