@use "../../presets/index" as *;

.order-contact {
  .container-1540 {
  padding: vw(64) vw(130) vw(47) vw(44);
  border-radius: 0 0 vw(30) vw(30);
  background-color: $background-grey;
  }

  @include md {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
  }

  &-content {
    justify-content: start;
    align-items: center;

    .order-contact-title {
      margin-bottom: vw(79);
    }
  }

  #order-contact-form {

    input,
    textarea,
    select {
      background: $color-white;
      border: vw(1) solid $color-grey-border;
      border-radius: vw(30);
      padding: vw(28) vw(28) vw(27) vw(39);
    }
    .payment-amount,
    .delivery-options {
      margin-bottom: vw(43);
    }
    .checkbox-label {
      display: block;
      font-weight: 400;
    }

    .date-input {
      position: relative;
    }

    .calendar-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      /* Стили для иконки календаря */
    }

    .down-arrow-icon {
      /* Стили для иконки стрелки вниз */
    }

    .form-section {
      display: flex;
      flex-direction: column;

      .form-col {
        display: flex;
        justify-content: space-between;
        align-items: start;
      }

      .form-row {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        margin-bottom: vw(27);

      }
    }
  }
}