
@use "../../presets/index" as *;

.sale {
  height: vw(114);
  background-color: $color-red;
  overflow: hidden;
  position: fixed;
  //top: vw(115);
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  @include lg {
    height: vm(57);
    padding-top: vm(15);
  }
  &-wrapper {
    height: vw(114);
    background-color: $color-red;
    display: flex;
    align-items: center;
    gap: vw(30);
    width: 100%;
    padding-left: vw(20);
    animation: scroll 15s linear infinite;
    &__description {
      font-size: vw(24);
      line-height: 110.3%;
      color: $color-white;
      min-width: vw(350);
      @include lg {
        font-size: vm(14);
        min-width: vm(182);
      }
    }
    &__title {
      font-weight: 700;
      font-size: vw(64);
      line-height: vw(64);
      color: $color-white;
      transform: rotate(-10deg);
      @include lg {
        font-size: vm(32);
        line-height: vm(32);
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(vw(-600));
  }
  50% {
    transform: translateX(vw(-200));
  }
  100% {
    transform: translateX(vw(-600));
  }
}